.cars-list table {
    width: 100%;
	font-family: "Arial";
    font-size: 14px;
	table-layout: fixed;
}

.cars-list table th {
    background-color: #f3f3f3;
}

.cars-list table td, th {
    padding: 7px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.cars-list .unused {
    background-color: #00ccff;
}

.cars-list .used-bulletin {
    background-color: #9bff9b;
}

.cars-list .used {
    background-color: #ffff9b;
}

.cars-list .old {
    background-color: #ff6464 !important;
}

.cars-list .used-partial {
    background-color: #ff9b9b;
}

.cars-list .avito,
.cars-list .auto {
    text-align: left;
    padding-left: 10px;
}

.cars-list .row {
    overflow: auto;
}

.cars-list .url_input {
    float: left;
    padding-left: 5px;
	width: 145px;
    height: 26px;
	border: none;
	font-size: 14px;
    border-radius: 2px;
	color: #a9a9a9;
}

.cars-list .autoru_url {
    margin-right: 5px;
}

.cars-list .line .status {
    height: 26px; 
    width: 150px; 
    border: none; 
    border-radius: 2px;
	padding-left: 1px;
	font-size: 14px;
}

.cars-list .line .status:hover {
	cursor: pointer;
}

.cars-list .line .status:focus {
    outline: none;
}

.cars-list .status_0 {
    background-color: #00de00;
}
.cars-list .status_1 {
    background-color: #32c8ff;
}
.cars-list .status_2 {
    background-color: #ff6f00;
	color: white;
}
.cars-list .status_3 {
    background-color: #ffde00;
}
.cars-list .status_4 {
    background-color: #ffb100;
}
.cars-list .status_5 {
    background-color: #de0000;
	color: white;
}
.cars-list .status_6 {
    background-color: #b10000;
	color: white;
}

