.proxy-list table {
    width: 100%;
	font-family: "Arial";
    font-size: 13px;
}

.proxy-list table th {
    background-color: #f3f3f3;
}

.proxy-list table td, th {
    vertical-align: top;
    padding: 7px;
}

.proxy-list .unused {
    background-color: #32c8ff;
}

.proxy-list .used-bulletin {
    background-color: #9bff9b;
}

.proxy-list .used {
    background-color: #ffff9b;
}

.proxy-list .old {
    background-color: #de0000 !important;
}
.proxy-list .died {
    background-color: #b10000 !important;
}


.proxy-list .used-partial {
    background-color: #ff6f00 !important;
}

.proxy-list .avito,
.proxy-list .auto {
    text-align: left;
    padding-left: 10px;
}

.proxy-list .row {
    overflow: auto;
}

/*.proxy-list .label {
    width: 70px;
    font-weight: bold;
    display: block;
    float: left;
}*/

.addproxy-but p {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    font-family: "Arial";
    color: #226aa1;
    font-size: 14px;
}

.create-proxy-link .button {
    background: #e1e1e1;
    height: 30px;
    float: left;
    cursor: pointer;
    border-radius: 4px;
}

.create-proxy-link {
    overflow: auto;
    display: block;
    margin-bottom: 10px;
	float: left;
}

.create-proxy-link .button:hover {
    background: #ebebeb;
}

.create-proxy-form label {
    font-weight: bold;
    display: block;
    float: left;
    width: 200px;
    padding-left: 20px;
}

.create-proxy-form .form-line {
    overflow: auto;
    position: relative;
    padding-bottom: 10px;
	margin-right: 5px;
    float: left;
}

.create-proxy-form input {
    padding-left: 5px;
    height: 23px;
    border: 1px solid gainsboro;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}


.create-proxy-form .indicator {
    display: none;
    position: absolute;
    left: 0px;
    top: 1px;
}

.title {
    font-size: large;
    margin-bottom: 20px;
}

.add-proxy-button {
    cursor: pointer;
    padding: 5px 0px 5px 0px;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    background-color: #C8C8C8;
    color: white;
    width: 110px;
}

.add-proxy-button:hover {
    background: #28588b;
    color: white;
}

.copy-ctrl {
    overflow: auto;
    height: 22px;
}

.copy-ctrl .label {
    float: left;
    width: 52px;
    font-style: oblique;
    color: #969696;
    text-align: left;
}

.copy-ctrl .text {
    float: left;
    margin-right: 5px;
    line-height: 17px;
}

.copy-ctrl .copy {
    display: none;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  //  display: block;
}

.copy-ctrl .copy:hover {
    color: white;
}

tr .status {
    /* text-align: left !important; */
    /* vertical-align: middle !important; */
}

tr .data {
    /* vertical-align: middle !important; */
}

.create-proxy-form {
    width: 810px;
    float: left;
}


.create-proxy-form .proxy-http input {
    width: 70px;
}

.create-proxy-form .proxy-socks5 input {
    width: 70px;
}

.create-proxy-form .proxy-place input {
    width: 120px;
}

.create-proxy-form .proxy-login input,
.create-proxy-form .proxy-password input {
    width: 100px;
}

.unused-amount {
    display: block;
    float: right;
    line-height: 25px;
}