.users-list table {
    width: 100%;
	font-family: "Arial";
    font-size: 14px;
}

.users-list table th {
    background-color: #f3f3f3;
}

.users-list table td, th {
    vertical-align: top;
    padding: 10px;
}




.title {
    font-size: large;
    margin-bottom: 20px;
}