/* 
    Created on : 03.10.2015, 0:49:57
    Author     : dimuska139
*/

.balance {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.balance .balance-value {
    color: #28578B;
}

.qiwi-panel {
    background-color: #e8e8e8;
    position: relative;
    width: 1200px;
	margin-left: -25px;
    margin-top: 20px;
    height: 120px;
}

.qiwi-panel .qiwi-logo {
    width: 170px;
    position: absolute;
    top: 30px;
    left: 40px;
}

#sum {
    position: absolute;
    left: 250px;
    top: 40px;
    height: 30px;
    font-size: 24px;
	color: #ff9f00;
    border: none;
    width: 80px;
    padding: 5px;
    text-align: center;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#sum:hover {
	border: 1px solid #b8b8b8;
}

#sum:focus {
	border: 1px solid #ff9f00;
}

.qiwi-panel .sum-place .label {
    position: absolute;
    left: 250px;
    top: 12px;
    font-size: 16px;
    color: #28578B;
}

.qiwi-panel .sum-place .currency {
    position: absolute;
    left: 350px;
    top: 60px;
    font-size: 16px;
    color: #28578B;
}

.qiwi-panel .sum-place .helper {
    position: absolute;
    left: 250px;
    top: 90px;
    font-size: 11px;
    color: rgba(0,0,0,.5);
}

.qiwi-panel .sum-place .active {
    cursor: pointer !important;
    background-color: #26578D !important;
}

.qiwi-panel .sum-place .active:hover {
    background-color: #226aa1 !important;
}

.qiwi-panel .sum-place .send {
    cursor: default;
    position: absolute;
    display: block;
    background-color: #C8C8C8;
    text-align: center;
    color: white;
	padding-left: 15px;
    padding-right: 15px;
	height: 42px;
    text-decoration: none;
    left: 400px;
    font-size: 14px;
    top: 40px;
    border: none;
	-webkit-appearance: none;
	border-radius: 2px;
    transition: all 0.2s;
}

.history {
    margin-top: 12px;
}

.history .header {
    font-size: 12pt;
    margin-bottom: 7px;
}

.history .history-table .table-header {
    overflow: auto;
}

.history .history-table .table-header div {
    float: left;
    font-weight: bold;
}

.history .history-table .date {
    width: 100px;
}

.history .history-table .operation {
    width: 190px;
}

.history .history-table  .method {
    width: 115px;
}

.history .history-table  .summa {
    width: 110px;
    text-align: right;
    margin-right: 50px;
}

.history .history-table .table-body .line div {
    float: left;
}

.history .history-table .table-body .line {
    padding: 5px 0px 5px 0px;
    overflow: auto;
}

.balance-info {
    margin-top: 10px;
    line-height: 16px;
    font-size: 13px;
}

.info {
    float: left;
    margin-top: 10px;
    color: rgba(0,0,0,.5);
    font-size: 11px;
}

.requisites {
    margin-top: 54px;
}

.requisites .text {
    font-size: 14px;
}

.requisites .req {
	position: relative;
	margin-top: 10px;
	width: 500px;
	height: 50px;
}

.requisites .req .req-logo {
	width: 50px;
}

.requisites .req .req-logo {
	width: 50px;
}

.req-text {
	position: absolute;
    margin-left: 60px;
	margin-top: 6px;
}

.req-min {
	font-size: 11px;
	color: rgba(0,0,0,.5);
}

.req-number {
	position: absolute;
    margin-left: 60px;
	margin-top: 28px;
	font-size: 14px;
}