ntable {
    width: 100%;
}


/*.fade {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 60px;
    height: 38px;
    right: 0px;
}


.fade:after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    
    content: ' ';
}

.difference_price .name .fade:after {
    background: linear-gradient(to right, #00f500, #00f500);
}*/

.vin-item {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    height: 16px;
}

.rudder-item {
    float: left;
    margin-top: 9px;
    margin-left: 5px;
}

.wheel-item {
    float: left;
    width: 18px;
    margin-top: 8px;
    margin-left: 5px;
}

.fast-item {
    float: left;
    width: 15px;
    margin-top: 6px;
    margin-left: 5px;
}

.torg-item {
    width: 8px;
    margin-top: 0px;
    padding-right: 5px;
}

.dealer-item {
    width: 20px;
    margin-top: 6px;
    margin-left: 2px;
    padding-right: 5px;
}


#result_list_header .diff .otkl-icon {
    position: absolute;
    width: 12px;
    left: 22px;
    top: 3px;
}

#result_list .line .name .pos {
    position: relative !important;
}

.minutestooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 20px;
    right: 45px;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 0.6;
    border-radius: 5px; 
}

.tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 20px;
    left: 45px;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 0.6;
    border-radius: 5px; 
}

#result_list .new {
//    background-color: #edf1f5 !important;
}

#result_list .moderation {
    background-color: #fff500 !important;
}

#result_list .difference_price {
    background-color: #afff2d !important;
}

#result_list .line {
    position: relative;
    cursor: pointer;
    color: initial;
    text-decoration: none;
    display: block;
 //   margin-bottom: -3px;
}

#result_list .line .td {
    position: relative;
}

#result_list .line .td .pos {
    position: absolute;
}

#result_list .line .name .pos,
#result_list .line .name_2 .pos,
#result_list .line .price .pos,
#result_list .line .year .pos,
#result_list .line .run .pos,
#result_list .line .engine .pos,
#result_list .line .engine_eng .pos,
#result_list .line .diff .pos,
#result_list .line .region .pos,
#result_list .line .phone_find .pos{
    top: 9px;
}

#result_list .line .name .pos img {
    
}

#result_list .line .name .pos nobr {
    float: left;
}

#result_list .line .diff .red {
    color: red;
}

#result_list .line .diff .green {
    color: green;
}

#result_list .line .region .pos {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

#result_list .line .name_2 .pos,
#result_list .line .year .pos,
#result_list .line .engine .pos,
#result_list .line .engine_eng .pos,
#result_list .line .diff .pos,
#result_list .line .body .pos,
#result_list .line .phone_find .pos{
    width: 100%;
    text-align: center;
}

#result_list .line .engine_eng .pos {
    top: 4px;
}

#result_list .line .price .pos,
#result_list .line .run .pos{
    width: 95%;
    text-align: right;
}

#result_list .line .time .pos {
    top: 10px;
    left: 10px;
}

#result_list .line .color .pos {
    top: 8px;
    left: 5px;
}

#result_list .line .body .pos {
    top: 5px;
}

#result_list .line .photos {
    border-right: none;
}

#result_list .line .photos .pos {
    top: 7px;
    left: 4px;
}


#result_list .line .name .mark-info{
    color: #28578b;
    font-weight: bold;
    padding-left: 10px;
}

#result_list .line .name .mark-info .engine-info {
    color: initial;
    font-weight: initial;
}

#result_list .line:hover {
    background-color: #f0f0f0 !important;
}

#result_list .line .body-img {
    height: 25px;
}

#result_list .line .price {
    font-weight: bold;
}
#result_list .line .color-preview {
    width: 16px;
    height: 16px;
}

#result_list .line .white .color-preview {
    width: 14px;
    height: 14px;
    border: 1px solid #c8c8c8;
}

#result_list .line .ph {
    width: 20px;
    margin-right: 3px;
}


/*#result_list .even {
    background-color: white;
}

#result_list .odd {
    background-color: #eaf6ff;
}
*/
/*#result_list .line:nth-child(2n+1){
   background-color: white;
}


#result_list .line:nth-child(2n){
   background-color: #eaf6ff;
}*/

.monitor .line {
    overflow: visible;
    height: 36px;

}

.monitor .line .time {
//    border-left: 1px solid #cfcfcf !important;
}

.monitor .line .td {
    height: 36px;
    float: left;
  /*  padding-left: 1%;
    padding-right: 1%;*/
    border: none;
//    border-top: 1px solid #cfcfcf;
 //   border-right: 1px solid #cfcfcf;
}

/*.monitor .line .photos {
    border-left: 1px solid #cfcfcf !important;
}*/
/* search */
.search_block {
  width: 100%;
  min-width: 860px;
  height: auto;
  float: left; }
  .search_block .search {
/*    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;*/
    min-height: 800px;
    background: #fff;
    width: 100%;
    max-width: 1200px;
    min-width: 860px;
    margin: 0 auto;
    height: auto; }
    .search_block .search .phone_search {
      width: 100%;
      float: left;
      height: 50px;
      background: #fff; }
    .search_block .search .dop_search {
      width: 100%;
      float: left;
      height: 100px;
      background: #e6e6e6; }
      .search_block .search .dop_search ul {
        width: 440px;
        float: left;
        margin-left: 26px;
        margin-top: 10px; }
        .search_block .search .dop_search ul li {
          cursor: pointer;
          float: left;
          margin-right: 30px;
          font-family: "OpenSans-Regular";
          color: #969696;
          font-size: 12px; }
		.search_block .search .dop_search ul li:hover {
		  color: #28588b; }
    .search_block .search .button {
      background: #e3e3e3;
      height: 30px;
      float: left;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 5px; }
	.search_block .search .button:hover {
	  background: #28588b; }
      .search_block .search .button p {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 30px;
        font-family: "OpenSans-Regular";
        color: #28588b;
        font-size: 13px; }
	   .search_block .search .button p:hover {
		color: #ffffff; }
    .search_block .search .bt_1 {
      margin-left: 25px; }
    .search_block .search .podpis {
      margin-top: 16px;
      margin-left: 10px;
      float: left;
      font-family: "OpenSans-Regular";
      color: #323232;
      font-size: 13px; }
    .search_block .search .input {
      float: left;
      height: 25px;
      width: 105px;
      padding-left: 7px;
      margin-right: 10px;
      border: 1px solid #c8c8c8;
      background: #fff;
      font-family: "OpenSans-Regular";
      color: #969696;
      font-size: 11px; }
    .search_block .search .input_1 {
      margin-left: 10px;
      margin-top: 11px; }
    .search_block .search .input_2 {
      margin-top: 15px; }
    .search_block .search .one {
      margin-left: 25px; }
    .search_block .search .setting {
      float: left; }
      .search_block .search .setting .p_1 {
        margin-top: 9px; }
      .search_block .search .setting p {
        cursor: pointer;
        font-family: "OpenSans-Regular";
        color: #969696;
        font-size: 12px; }
    .search_block .search .inform_text {
      margin-left: 25px;
      float: left;
      margin-top: 10px;
      font-family: "OpenSans-Regular";
      color: #323232;
      font-size: 13px; }
    .search_block .search .form {
      width: 100%;
      float: left;
      height: 40px;
      margin-top: 10px;
      background: #fff8b9; }
      .search_block .search .form .input_width {
        width: 135px; }
      .search_block .search .form input {
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 20px; }
      .search_block .search .form .podpis_2 {
        margin-top: 12px;
        float: left;
        font-family: "OpenSans-Regular";
        color: #323232;
        font-size: 12px; }
      .search_block .search .form .button_2 {
        width: 100px;
        height: 40px;
        float: left;
        cursor: pointer;
        background: #28578b;
        text-align: center; }
        .search_block .search .form .button_2 p {
          margin-top: 11px;
          font-family: "OpenSans-Regular";
          color: white;
          font-size: 13px; }
        .search_block .search .form .button_2:hover {
          background: #226aa1; }
    .search_block .search .pr {
      width: 90%;
      float: left;
      margin-left: 25px; }
      .search_block .search .pr li {
        float: left;
        font-family: "OpenSans-Regular";
        color: black;
        font-size: 13px; }
      .search_block .search .pr .li_1 {
        width: 180px; }
      .search_block .search .pr .li_2 {
        width: 145px; }
      .search_block .search .pr .li_3 {
        width: 140px; }
      .search_block .search .pr .color {
        color: #969696; }
    .search_block .search .dilleri {
      float: left;
      margin-left: 25px;
      margin-top: 15px;
      font-family: "OpenSans-Regular";
      color: #969696;
      font-size: 11px; }

    
.search_block .search .filters {
    display: none;
    height: 85px;
    margin-bottom: 10px;
    background-color: #e8e8e8;
    margin-left: -25px;
    width: 1150px;
    position: relative;
    padding: 15px 25px 15px 25px;
    font-family: 'Open Sans';
}

.search_block .search .filters input {
    padding: 4px;
}

#result_list {
    font-family: 'Arial';
    width: 1150px;
}

#year_from, #price_from, #run_from {
    width: 90px;
	height: 18px;
	margin-bottom: 2px;
	padding-left: 8px;
	border: 1px;
	border-radius: 0px;
}

#year_to, #price_to, #run_to {
    width: 90px;
	height: 18px;
	margin-bottom: 2px;
    margin-left: -2px;
	padding-left: 8px;
	border: 1px;
	border-radius: 0px;
}

#year {
    height: 28px;
    width: 170px;
    background-color: white;
    border: none;
    padding-left: 4px;
}

.filters .filter-line {
    margin-bottom: 5px;
    position: relative;
}

.filters .column-1 {
    float: left;
    width: 212px;
}

.filters .column-2 {
    float: left;
    width: 177px;
}

.filters .column-3 {
    float: left;
    width: 177px;
}

.filters .column-4 {
    float: left;
    width: 310px;
}
.filters .column-5 {
    float: left;
    width: 210px;
}

.filter-line button {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.ms-parent {
    height: 28px;
}

#save {
    cursor: pointer;
    display: block;
    background-color: #28578B;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
}

#clear {
    cursor: pointer;
    background-color: #AFAFAF;
    color: white;
    padding: 8px 22px 8px 21px;
    float: right;
    margin-right: 27px;
    margin-top: 5px;
}

#save:hover {
    background-color: #226aa1;
}

#clear:hover {
    background-color: #2F2F2F;
}

#security {
    position: absolute;
    top: 4px;
    left: 0px;
}

.security-place {
    padding-left: 17px;
}

.metallic {
    position: absolute;
    top: 7px;
    left: 8px;
//    text-shadow: 1px 1px 1px silver,
//               -1px 1px 1px silver;
    color: white;
//    transition: all .5s;
}


.metallic-white {
    color: black !important;
}

.brand-logo {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
}

#result_list .logo {
    text-align: center;
    line-height: 34px;
}

.badcondition img {
    position: absolute;
    top: 10px;
    left: 25px;
}

#result_list .phone-icon {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    width: 20px;
    left: 3px;
    top: 8px;
}

#result_list .phone {
    overflow: hidden;
}

#result_list .phone-text {
    float: left;
    height: 16px;
    margin-top: 10px;
    margin-left: 5px;
    color: red;
    font-weight: 600;
}


.warning-panel {
    display: none;
    position: relative;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 17px;
    background-color: #E84A3E;
    margin-left: -25px;
    width: 1200px;
}

.warning-panel img{
    position: absolute;
    height: 100px;
    left: 50px;
}

.warning-panel .title {
    color: white;
    position: absolute;
    left: 245px;
    top: 20px;
    font-weight: 700;
}

.warning-panel .text {
    color: white;
    position: absolute;
    left: 255px;
    top: 40px;
}

#result_list_header {
    width: 100%;
    overflow: visible;
    font-style: oblique;
    color: #969696;
    margin-bottom: 3px;
    font-family: OpenSans-Regular;
    font-size: 11px;
    height: 20px;
    background-color: #f5f5f5;
}

#result_list_header div {
    float: left;
}

#result_list_header .time {
    width: 50px;
    text-align: center;
}

#result_list_header .car {
    width: 430px;
    text-align: left;
    padding-left: 60px;
}

#result_list_header .price {
    width: 60px;
    text-align: right;
    padding-right: 5px;
}

#result_list_header .diff {
    width: 73px;
    height: 10px;
    position: relative;
}

#result_list_header .year {
    width: 45px;
    padding-right: 5px;
    text-align: center;
}

#result_list_header .run {
    width: 82px;
    text-align: right;
}

#result_list_header .body {
    width: 75px;
    text-align: center;
}

#result_list_header .color {
    width: 37px;
    text-align: left;
    padding-left: 4px;
}

#result_list_header .region {
    width: 185px;
    text-align: left;
}

#result_list_header .photo {
    text-align: left;
}

.transition-and-phone-search .ads_amount {
    margin-left: 20px;
}

.transition-and-phone-search a {
    color: #28578B;
    text-decoration: none;
}

.transition-and-phone-search a:hover {
    color: #ff6933;
    border-bottom: 1px dotted #ff6933;
}

.transition-and-phone-search {
    overflow: auto;
    margin-bottom: 10px;
}

.transition-and-phone-search .transition {
    cursor: pointer;
    color: #28578B;
    float: left;
    margin-right: 20px;
}
.transition-and-phone-search .transition:hover {
    color: #ff6933;
    border-bottom: 1px dotted #ff6933;
}

.transition-and-phone-search .month {
    cursor: pointer;
    color: #28578B;
    float: left;
    margin-right: 20px;
}
.transition-and-phone-search .month:hover {
    color: #ff6933;
    border-bottom: 1px dotted #ff6933;
}

.transition-and-phone-search .active {
    cursor: default !important;
    color: #ff6933 !important;
    border-bottom: 1px dotted #ff6933;
}

.transition-and-phone-search .online {
    cursor: pointer;
    color: #28578B;
    float: left;
    margin-right: 20px;
}
.transition-and-phone-search .online:hover {
    color: #ff6933;
    border-bottom: 1px dotted #ff6933;
}

.transition-and-phone-search .phone-search .find {
    cursor: pointer;
    color: #28578B;
    float: right;
    border: none;
    background-color: initial;
    display: block;
    width: 39px;
    font-family: "OpenSans-Regular";
    font-size: 10pt;
    margin-top: 1px; 
}
.transition-and-phone-search .phone-search .find:hover {
    color: #ff6933 !important;
    border-bottom: 1px dotted #ff6933;
}

.transition-and-phone-search .phone-search .nohover:hover {
    color: rgb(150, 150, 150) !important;
    border-bottom: none;
}

.transition-and-phone-search .phone-search {
    float: left;
    position: relative;
}

.transition-and-phone-search .phone-search .label {
    color: #969696;
    margin-right: 5px;
}

.transition-and-phone-search .phone-search .phone-number {
    padding-left: 2px;
}

.transition-and-phone-search .phone-search input {
    width: 100px;
    margin-right: 5px;
}

.additional-filters {
    width: 100%;
    overflow: hidden;
}

.additional-filters .h-f {
    float: left;
    position: relative;
    margin-right: 25px;
}

.additional-filters .h-f input {
    position: absolute;
    top: 3px;
}

.additional-filters .h-f .label {
    margin-left: 15px;
}

.additional-filters .phone-amount input {
    height: 8px;
    width: 15px;
}

.byphonesearch_list_header {
    overflow: auto;
    width: 1050px;
    font-style: oblique;
    color: #969696;
    margin-bottom: 3px;
    font-family: OpenSans-Regular;
    font-size: 11px;
    height: 18px;
    background-color: #f5f5f5;
}

.byphonesearch_list_header div {
    float: left;
}

.byphonesearch_list_header .time {
    padding-left: 5px;
    width: 125px;
}

.byphonesearch_list_header .car {
    width: 270px;
}

.byphonesearch_list_header .price {
    width: 60px;
    text-align: right;
    margin-right: 30px;
}

.byphonesearch_list_header .year {
    width: 80px;
    margin-left: 20px;
    padding-left: 5px;
}

.byphonesearch_list_header .run {
    width: 60px;
    text-align: right
}

.byphonesearch_list_header .body {
    margin-left: 15px;
    width: 180px;
}

.byphonesearch_list_body .line:hover {
    background-color: #b2e5ff !important;
}

.byphonesearch_list_body {
    width: 1050px;
}

.byphonesearch_list_body .line {
    overflow: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.byphonesearch_list_body .line div {
    float: left;
}

.byphonesearch_list_body .line .time {
    padding-left: 5px;
    width: 125px;
}

.byphonesearch_list_body .line .name-engine {
    width: 270px;
}

.byphonesearch_list_body .line .name-engine .name{
    color: #28578b;
    font-weight: bold;
}

.byphonesearch_list_body .line .price {
    width: 60px;
    text-align: right;
    margin-right: 30px;
}

.byphonesearch_list_body .line .year {
    width: 80px;
    margin-left: 20px
}

.byphonesearch_list_body .line .run {
    width: 60px;
    text-align: right
}


.byphonesearch_list_body .line .body {
    margin-left: 20px;
    width: 180px;
    height: 18px;
}

.byphonesearch_list_body .line .region {
    width: 200px;
}

.byphonesearch_list_body .line .previews {
    padding-top: 10px;
}

.byphonesearch_list_body .line .previews .photo-preview-container {
    display: block;
    float: left;
    width: 115px;
    height: 80px;
    overflow: hidden;
}

.byphonesearch_list_body .line .previews .photo-preview-container .photo-preview {
    width: 100%;
    height: 100%;
}

.transition-and-phone-search .error {
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

#checkphone-ajax-loader {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
}

.byphonesearch-table .ads_amount {
    padding-bottom: 10px;
    display: block;
}

.main-part {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 10px;
}

.filter-state {
    float: right;
    color: #969696;
    cursor: pointer;
}

.filter-state:hover {
    color: #28578b;
}

#result_list_header .phonefind {
    float: left;
    position: relative;
}

#result_list_header .phonefind .phonefind-icon {
    position: absolute;
    width: 15px;
    left: 30px;
    top: 3px;
}

.more-button {
    background: #66ab0b;
    height: 30px;
    float: left;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 45%; /* Отступ слева */
    margin-right: 45%;
    width: 10%;
    text-align: center;
    margin-top: 10px;
}

.more-button .text {
 /*   padding-left: 30px;
    padding-right: 30px;*/
    line-height: 30px;
    font-family: "OpenSans-Regular";
    color: #ffffff;
    font-size: 13px;
}

#more-loading-indicator {
    display: none;
    margin-left: 47.5%;
    margin-right: 47.5%;
}

.phone_find_hover {
    background-color: #ebebeb !important;
}

.phone_find .pos form .phonefindsubmitimg {
    width: 22px;
    height: 22px;
    margin-top: 6px;
    background: transparent url('/resources/img/dealer.png') no-repeat center top;
    background-size: cover;
    border: 0;
    cursor: pointer;
}