active/* 
    Created on : 01.08.2015, 21:25:23
    Author     : dimuska139
*/

.page .content {
    min-height: 720px !important;
}



input[type="text"]{
    padding-left: 5px;
}

#run,#engine_power {
    width: 90px;
}

#year,#engine_volume {
    width: 97px;
}

#color,#condition {
    width: 125px;
}


.page-menu {
    overflow: auto;
    width: 1166px;
    margin-bottom: 10px;
	font-size: 14px;
}

.page-menu .tab {
    text-align: center;
    float: right;
    width: 246px;
    background-image: url(../img/menu-arrow.png);
    background-repeat: no-repeat;
    overflow: auto;
    position: relative;
    height: 32px;
    overflow: hidden;
    margin-left: -16px;
}

.page-menu .tab:last-child {
    margin-left: 0px;
}

.page-menu .tab:first-child {
    margin-left: -32px;
    margin-right: 16px;
    background-image: url(../img/menu-no-arrow.png);
}

.page-menu .active {
    background-image: url(../img/menu-arrow-active.png);
}

.page-menu .active:first-child {
    background-image: url(../img/menu-no-arrow-active.png);
   // background: #7BC1DB;
}

.page-menu .tab .text {
    color: #969696;
    line-height: 32px;
    padding-right: 15px;
}

.page-menu .active .text {
    color: white;
}

.page-menu .tab .indicator {
    position: absolute;
    display: none;
    top: 9px;
    right: 15px;
	width: 14px;
}

.page-menu .tab .indicator_show {
    position: absolute;
    top: 9px;
    right: 15px;
	width: 14px;
}

.page-car .indicator {
    display: none;
    position: absolute;
    left: 0px;
    top: 7px;
	width: 14px;
}

.page-car label {
	font-size: 14px;
	color: #646464;
    padding-top: 6px;
    display: block;
    float: left;
    width: 200px;
    padding-left: 30px;
}

.page-car .form-line {
    position: relative;
    padding-bottom: 10px;
    overflow: auto;
}

.page-car .model-container {
    display: none;
}

.page-car select {
    height: 28px;
    font-size: 14px;
    width: 188px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	padding-left: 1px;
}

.page-car input {
	width: 181px;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 26px;
}

.page-car .colors {
    overflow: auto;
    margin-left: 200px;
	height: 28px;
}

.page-car .colors .active {
    border: 1px solid #00AAFF !important;
}

.page-car .colors .color-item .white {
    border: 1px solid #c8c8c8;
    height: 18px !important;
    width: 18px !important;
}

.page-car .colors .color-item {
    height: 26px;
    width: 26px;
    float: left;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
	margin-right: 2px;
    position: relative;
}

.page-car .colors .color-item:hover {
    border: 1px solid #b8b8b8;
}

.page-car .colors .color-item .color {
    height: 20px;
    width: 20px;
    border-radius: 16px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
}


.page-car .body_type {
    color: #28578b;
    font-size: 14px;
    overflow: visible;
    width: 468px;
    height: 216px;
    margin-left: 230px;
	text-transform: lowercase;
}

.page-car .body_type .item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 90px;
    height: 60px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: 1px dashed white;
    background-repeat: no-repeat;
    background-position-x: center;
}

.page-car .body_type .item .text {
    position: absolute;
    text-align: center;
    bottom: 4px;
    width: 100%;
}

.page-car .body_type .item:hover {
    border: 1px dashed white;
}

.body_type [class*='col-'] {
    float: left;
}

.body_type .col {
    padding-right: 25px;
    padding-bottom: 10px;
}

.body_type .active {
  /*  background-color: #00aaff; 
    color: white;*/
    border: 1px solid white !important;
}

.engine_type {
    overflow: auto;
    font-size: 14px;
}

.engine_type .item {
    position: relative;
    border: 1px solid #dcdcdc;
    margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.engine_type .item:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.engine_type .item:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.engine_type .item:hover {
	z-index: 20;
	border: 1px solid #b8b8b8;
}

.engine_type .active {
	z-index: 10;
	border: 1px solid #00aaff !important;
    background-color: #00aaff; 
	color: white;
}

.transmission_type {
    overflow: auto;
    font-size: 14px;
}

.transmission_type .item:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.transmission_type .item:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.transmission_type .item {
    position: relative;
    border: 1px solid #dcdcdc;
    margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.transmission_type .item:hover {
	z-index: 20;
	border: 1px solid #b8b8b8;
}

.transmission_type .active {
	z-index: 10;
	border: 1px solid #00aaff !important;
    background-color: #00aaff; 
	color: white;
}

.drive_type {
    overflow: auto;
    font-size: 14px;
}

.drive_type .item {
	position: relative;
	border: 1px solid #dcdcdc;
	margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.drive_type .item:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.drive_type .item:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.drive_type .item:hover {
	z-index: 20;
	border: 1px solid #b8b8b8;
}

.drive_type .active {
	z-index: 10;
	border: 1px solid #00aaff !important;
    background-color: #00aaff; 
	color: white;
}


.rudder .item:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.rudder .item:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.rudder {
    overflow: auto;
    font-size: 14px;
}

.rudder .item {
	position: relative;
	border: 1px solid #dcdcdc;
	margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.rudder .item:hover {
	z-index: 20;
	border: 1px solid #b8b8b8;
}

.rudder .active {
	z-index: 10;
	border: 1px solid #00aaff !important;
    background-color: #00aaff; 
	color: white;
}

.page-car .next {
	float: left;
    margin-left: 230px;
    margin-top: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #dcdcdc;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
	line-height: 28px;
	transition: all 0.2s;
}

.page-car .next-active {
    background-color: #0363cd;
    cursor: pointer;
}

.page-car .next-active:hover {
    background-color: #2582eb;
}

.page-photos, .page-contacts, .page-price-and-comment, .page-end {
    display: none;
}

.page-photos .next {
    display: none;
    float: left;
    margin-top: 10px;
    line-height: 28px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #0363cd;
    color: white;
    cursor: pointer;
	padding-left: 15px; 
	padding-right: 15px;
    transition: all 0.2s;
}

.page-photos .next:hover {
    background-color: #2582eb;
}

.page-photos .prev {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	border: 1px solid #dcdcdc;
    color: rgba(0,0,0,.5);
    cursor: pointer;
	padding-left: 14px; 
	padding-right: 14px; 
	transition: all 0.2s;
}

.page-photos .prev:hover {
    border: 1px solid #b8b8b8;
}

.page-photos .pass {
    float: left;
    color: #dcdcdc;
	transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    line-height: 28px;
}

.page-photos .pass:hover {
	 color: #b8b8b8;
}

.page-photos .info {
	color: #969696;
    width: 1150px;
    font-size: 13px;
    line-height: 16px;
}

#fileupload {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.uploaded {
    overflow: auto;
    margin-top: 10px;
}

.uploaded .preview-container {
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    background: white;
    overflow: hidden;
    width: 110px;
    height: 79px;
}

.page-photos .camera_container {
    position: relative;
    cursor: pointer;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    float: left;
    background: white;
    overflow: hidden;
    width: 100px;
    height: 77px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.page-photos .camera_container:hover {
	border: 1px solid #b8b8b8;
}

.page-photos .camera_container img {
    position: absolute;
    top: 22px;
    width: 40px;
    left: 30px;
}

.uploaded .preview-container .preview {
    max-width: 100%;
    max-height: 100%;
}

.uploaded .preview-container .number {
    display: none;
    position: absolute;
    left: 1px;
    top: 1px;
    font-weight: bold;
    text-align: center;
    padding: 3px 7px 3px 7px;
    background-color: #7BC1DB;
    background-image: -webkit-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    background-image: -moz-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    color: white;
    min-width: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.uploaded .preview-container .delete {
    cursor: pointer;
    width: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    background-color: white;
}


.camera_container .progress {
    position: absolute;
    right: 2px;
    bottom: 2px;
	color: #969696;
    font-size: 11px;
}

.page-contacts select {
    height: 28px;
    font-size: 14px;
    width: 188px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    background-color: white;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-left: 1px;
}

.page-contacts input {
    height: 26px;
    font-size: 14px;
    width: 160px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.page-contacts .indicator {
    display: none;
    position: absolute;
    left: 0px;
    top: 7px;
	width: 14px;
}

.page-contacts label {
	font-size: 14px;
    color: #646464;
    display: block;
    float: left;
    width: 200px;
    padding-left: 30px;
	padding-top: 6px;
}

.page-contacts .form-line {
    position: relative;
    padding-bottom: 10px;
    overflow: auto;
}

.page-contacts .next {
    float: left;
    line-height: 28px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #dcdcdc;
    color: white;
	padding-left: 15px;
	padding-right: 15px;
    margin-top: 10px;
	transition: all 0.2s;
}

.page-contacts .next-active {
    background-color: #0363cd;
    cursor: pointer;
}

.page-contacts .next-active:hover {
    background-color: #2582eb;
}

.page-contacts .prev {
    float: left;
    margin-right: 10px;
    line-height: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	border: 1px solid #dcdcdc;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    margin-left: 230px;
	margin-top: 10px;
	padding-left: 14px;
	padding-right: 14px;
	transition: all 0.2s;
}

.page-contacts .prev:hover {
    border: 1px solid #b8b8b8;
}

.page-price-and-comment textarea, .page-contacts textarea {
    line-height: 18px;
    font-size: 14px;
    width: 554px !important;
    max-height: 500px;
    height: 200px;
    padding: 7px;
    border: 1px solid gainsboro;
    resize: vertical;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: "Arial";
}

.page-price-and-comment input {
    height: 26px;
    font-size: 14px;
    width: 100px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.page-price-and-comment .indicator {
    display: none;
    position: absolute;
    left: 0px;
    top: 7px;
	width: 14px;
}

.page-price-and-comment label {
	font-size: 14px;
    color: #646464;
    display: block;
    float: left;
    width: 200px;
    padding-left: 30px;
	padding-top: 6px;
}

.page-price-and-comment .form-line {
    position: relative;
    padding-bottom: 10px;
}

.page-price-and-comment .info {
    float: right;
    width: 340px;
    color: #969696;
    font-size: 13px;
    line-height: 16px;
	padding-top: 7px;
}

.page-contacts .info {
    float: right;
    width: 340px;
    color: #969696;
    font-size: 13px;
    line-height: 16px;
}

.page-price-and-comment .next {
    float: left;
	margin-top: 10px;
    line-height: 28px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #dcdcdc;
    color: white;
	padding-left: 15px;
	padding-right: 15px;
	transition: all 0.2s;
}

.page-price-and-comment .next-active {
    background-color: #0363cd;
    cursor: pointer;
}

.page-price-and-comment .next-active:hover {
    background-color: #2582eb;
}

.page-price-and-comment .prev {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    margin-left: 230px;
    padding-left: 14px; 
	padding-right: 14px; 
	transition: all 0.2s;
	border: 1px solid #dcdcdc;
}

.page-price-and-comment .prev:hover {
    border: 1px solid #b8b8b8;
}

.back {
    margin-right: 6px;
    position: absolute;
    top: 8px;
    left: 12px;
}

.page-end {
    position: relative;
}

.page-end label {
    color: #646464;
    display: block;
    float: left;
    width: 200px;
}

.page-end .form-line {
    position: relative;
    padding-bottom: 15px;
    overflow: auto;
}

.page-end .ad_type_banner {
    overflow: auto;
    position: relative;
    float: right;
    width: 554px;
}

.page-end .ad_type_banner .left {
    text-align: center;
    background-color: #D0D8DB;
    float: left;
    height: 32px;
    padding: 10px 30px 10px 30px;
}

.page-end .ad_type_banner .left .text {
    font-weight: bold;
}

.page-end .ad_type_banner .left .subtext {
    font-size: 10px;
}

.page-end .ad_type_banner .right {
    background-color: #E8ECEF;
    float: left;
    position: relative;
    height: 52px;
    width: 100px;
}

.page-end .ad_type_banner .right .text {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 9px;
    left: 21px;
}

.page-end .next {
    line-height: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #0363cd;
    color: white;
    cursor: pointer;
    border: none;
	padding-left: 15px;
	padding-right: 15px;
    transition: all 0.2s;
}

.page-end .next:hover {
    background-color: #2582eb;
}

.page-end .prev {
    float: left;
	margin-right: 10px;
    line-height: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	border: 1px solid #dcdcdc;
    color: rgba(0,0,0,.5);
    cursor: pointer;
	padding-left: 14px;
	padding-right: 14px;
	transition: all 0.2s;
}

.page-end .prev:hover {
    border: 1px solid #b8b8b8;
}

.created-photo-place {
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.created-photo-place img {
    max-width: 100%;
    max-height: 100%;
}

#check_comment {
    margin-top: 5px;
    float: left;
    word-wrap: break-word;
	line-height: 18px;
}

#contact {
    width: 144px;
}

#phone {
    width: 124px;
}

#another_model {
    display: none;
}


.preview-container-result {
    position: relative;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
    overflow: hidden;
    width: 104px;
    height: 84px;
}

.result-photos {
    overflow: auto;
    width: 530px;
    position: relative;
    float: right;
    margin-bottom: 20px;
    right: 0px;
    border: 3px solid #ffe5b4;
    background-color: #fffbf4;
    padding: 10px 8px 8px 10px;
}

.end-fields {
	font-size: 14px;
    padding-top: 12px;
    padding-left: 15px;
	padding-right: 15px;
    width: 550px;
    float: left;
    border: 3px solid #ACE2FF;
    background-color: #F7FCFF;
}

#autoru_code, #avitoru_code {
    width: 85px;
    padding-left: 5px;
}

#autoru_code_confirm, #avitoru_code_confirm, #change_phone, #avitoru_code_get, #autoru_code_get, .page-contacts .confirm {
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    color: #28578B;
    width: 90px;
    cursor: pointer;
}

#autoru_code_confirm:hover {
    text-decoration: underline;
}
#avitoru_code_confirm:hover {
    text-decoration: underline;
}
#change_phone:hover {
    text-decoration: underline;
}

.page-contacts .confirm:hover {
    text-decoration: underline;
}

#avitoru_code_get:hover {
    text-decoration: underline;
}

#autoru_code_get:hover {
    text-decoration: underline;
}

.confirm-code-place,#change_phone, .page-contacts .confirm {
    display: none;
}

/*.page-contacts .confirm {
    display: none;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #28578B;
    color: white;
    width: 80px;
    cursor: pointer;
    margin-left: 220px;
}

.page-contacts .confirm:hover {
    background-color: #226aa1;
}*/

.page-contacts .phone-error {
    display: none;
    color: red;
    margin-left: 220px;
}

#autoru_code_error,#avitoru_code_error {
    color: red;
}

.page-contacts .code-error {
    display: none;
    color: red;
    margin-left: 35px;
}

.page-contacts .ajax-loader {
    display: none;
    position: absolute;
    top: 4px;
    left: 365px;
    height: 20px;
}

#send-code-ajax-loader {
    left: 320px;
}



#repeat-sms-text {
    display: none;
    margin-left: 220px;
    cursor: pointer;
    color: #28578B;
}

#repeat-sms-text:hover {
    text-decoration: underline;
}

.warning-panel {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    background-color: #E84A3E;
    margin-left: -25px;
    width: 1200px;
}

.warning-panel img{
    position: absolute;
    height: 100px;
    left: 50px;
}

.warning-panel .title {
    color: white;
    position: absolute;
    left: 245px;
    top: 22px;
	font-size: 14px;
}

.warning-panel .text {
    color: white;
    position: absolute;
    left: 255px;
    top: 44px;
	font-size: 13px;
    line-height: 16px;
}

#registration_repeat {
    display: none;
//    text-align: center;
    padding: 5px 0px 5px 0px;
    color: #28578B;
   // width: 90px;
    cursor: pointer;
    overflow: auto;
    margin-left: 230px;
    margin-bottom: 10px;
}

#autoru_code_confirm,#avitoru_code_confirm,#avitoru_code_get,#autoru_code_get {
   display: none;
}

#registration_timer {
   display: none;
   overflow: auto;
   margin-left: 230px;
   margin-bottom: 10px;
}

input:hover {
     border: 1px solid #b8b8b8;
}

select:hover {
     border: 1px solid #b8b8b8;
	 cursor: pointer;
}

textarea:hover {
     border: 1px solid #b8b8b8;
}

input:focus {
     border: 1px solid #00aaff;
}

select:focus {
     border: 1px solid #00aaff;
	 outline: none;
}

textarea:focus {
     border: 1px solid #00aaff;
	 outline: none;
}

.ctrl-btns {
    float: left;
    margin-left: 10px;
}

#avitoru_timer, #autoru_timer, #autoru_code_repeat, #avitoru_code_repeat {
    display: none;
}