/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.08.2015, 10:33:59
    Author     : dimuska139
*/

input[type="text"] {
    padding-left: 5px;
}

#run,#engine_power {
    width: 90px;
}

#year,#engine_volume {
    width: 97px;
}

#color,#condition {
    width: 125px;
}

#price {
    width: 100px;
}

.page-menu {
    overflow: auto;
    width: 475px;
    margin-bottom: 10px;
}

.page-menu .tab {
    text-align: center;
    float: right;
    width: 246px;
    background-image: url(../img/menu-arrow.png);
    background-repeat: no-repeat;
    overflow: auto;
    position: relative;
    height: 32px;
    overflow: hidden;
    margin-left: -15px;
}

.page-menu .tab:first-child {
    background-image: url(../img/menu-no-arrow.png);
}

.page-menu .active {
    background-image: url(../img/menu-arrow-active.png);
}

.page-menu .active:first-child {
    background: #7BC1DB;
}

.page-menu .tab .text {
    color: #CDCDCD;
    margin-top: 6px;
    padding-right: 15px;
}

.page-menu .active .text {
    color: white;
}

.page-menu .tab .indicator {
    position: absolute;
    display: none;
    top: 8px;
    right: 15px;
}

.page-menu .tab .indicator_show {
    position: absolute;
    top: 8px;
    right: 15px;
}

.page-edit .indicator {
    display: none;
    position: absolute;
    left: 0px;
    top: 1px;
}

label {
	font-family: Arial;
    font-size: 14px;
    color: #646464;
    padding-top: 5px;
    display: block;
    float: left;
    width: 200px;
}

.form-line {
    position: relative;
    padding-bottom: 10px;
}

.page-edit .model-container {
    display: none;
}

.page-edit select {
    height: 26px;
    font-size: 10.5pt;
    width: 188px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.page-edit input {
    height: 24px;
    font-size: 10.5pt;
    width: 181px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.page-edit .colors {
    overflow: auto;
    margin-left: 175px;
}

.page-edit .colors .active {
    border: 1px solid #00AAFF !important;
}

.page-edit .colors .color-item .white {
    border: 1px solid #c8c8c8;
    height: 18px !important;
    width: 18px !important;
}

.page-edit .colors .color-item {
    height: 26px;
    width: 26px;
    float: left;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
	margin-right: 2px;
    position: relative;
}

.page-edit .colors .color-item:hover {
    border: 1px solid #b8b8b8;
}

.page-edit .colors .color-item .color {
    height: 20px;
    width: 20px;
    border-radius: 16px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    top: 3px;
    left: 3px;
}


/*.page-edit .colors .active {
    border: 1px solid #00AAFF !important;
}

.page-edit .colors .color-item .white {
    border: 1px solid #c8c8c8;
    height: 11px !important;
    width: 11px !important;
}

.page-edit .colors .color-item {
    height: 17px;
    width: 17px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: relative;
}

.page-edit .colors .color-item .color {
    height: 13px;
    width: 13px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    position: absolute;
    top: 2px;
    left: 2px;
}*/


.page-edit .body_type {
    color: #28578b;
    overflow: visible;
    width: 450px;
    height: 193px;
    margin-left: 200px;
}

.page-edit .body_type .item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 90px;
    height: 59px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: 1px dashed white;
    background-repeat: no-repeat;
    background-position-x: center;
}

.page-edit .body_type .item .text {
    position: absolute;
    text-align: center;
    bottom: 4px;
    width: 100%;
}

.page-edit .body_type .item:hover {
    border: 1px white #b8b8b8;
}

.body_type [class*='col-'] {
    float: left;
}

.body_type .col {
    padding-right: 20px;
    padding-bottom: 5px;
}

.body_type .active {
 /*   background-color: #00aaff;
    color: white;*/
    border: 1px solid white !important;
}

.engine_type {
    overflow: auto;
    font-size: 13.5px;
}

.engine_type .item {
	position: relative;
    border: 1px solid #dcdcdc;
    margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.engine_type .item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.engine_type .item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.engine_type .item:hover {
	z-index: 20;
	border: 1px solid #b8b8b8;
}

.engine_type .active {
	z-index: 10;
	border: 1px solid #00aaff !important;
    background-color: #00aaff; 
	color: white;
}

.transmission_type {
    overflow: auto;
    font-size: 13.5px;
}

.transmission_type .item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.transmission_type .item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.transmission_type .item {
	position: relative;
    border: 1px solid #dcdcdc;
    margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.transmission_type .item:hover {
    z-index: 20;
    border: 1px solid #b8b8b8;
}

.transmission_type .active {
    z-index: 10;
    border: 1px solid #00aaff !important;
    background-color: #00aaff; 
    color: white;
}

.drive_type {
    overflow: auto;
    font-size: 13.5px;
}

.drive_type .item {
	position: relative;
    border: 1px solid #dcdcdc;
    margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.drive_type .item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.drive_type .item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.drive_type .item:hover {
    z-index: 20;
    border: 1px solid #b8b8b8;
}

.drive_type .active {
    z-index: 10;
    border: 1px solid #00aaff !important;
    background-color: #00aaff; 
    color: white;
}

.rudder .item:hover {
    z-index: 20;
    border: 1px solid #b8b8b8;
}

.rudder {
    overflow: auto;
    font-size: 13.5px;
}

.rudder .item {
	position: relative;
    border: 1px solid #dcdcdc;
    margin-right: -1px;
    cursor: pointer;
    overflow: auto;
    float: left;
    padding: 5px 10px 5px 10px;
}

.rudder .active {
    z-index: 10;
    border: 1px solid #00aaff !important;
    background-color: #00aaff; 
    color: white;
}

.rudder .item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.rudder .item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.page-edit .next {
    display: none;
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;
    padding: 5px 0px 5px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #C8C8C8;
    color: white;
    width: 80px;
    cursor: pointer;
}

.page-edit .next:hover {
    background-color: #909090;
}

.model-container {
    margin-top: 45px;
    font-size: 16px;
    margin-bottom: 15px;
}

.camera_container {
    position: relative;
    cursor: pointer;
    border: 1px solid gainsboro;
    float: left;
    background: white;
    overflow: hidden;
    width: 92px;
    height: 70px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.camera_container:hover {
    background: #f5f5f5;
}

.camera_container img {
    position: absolute;
    top: 17px;
    width: 36px;
    left: 28px;
}


#fileupload {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.uploaded {
    overflow: auto;
    margin-top: 10px;
	width: 950px;
    margin-left: 200px;
}

.preview-container {
    position: relative;
    margin-right: 1px;
    float: left;
    background: white;
    overflow: hidden;
    width: 94px;
    height: 72px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.preview-container .preview {
    max-width: 100%;
    max-height: 100%;
}

.preview-container .number {
    display: none;
    position: absolute;
    left: 1px;
    top: 1px;
    font-weight: bold;
    text-align: center;
    padding: 3px 7px 3px 7px;
    background-color: #7BC1DB;
    background-image: -webkit-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    background-image: -moz-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #28578b 0%, #768ee4 100%);
    color: white;
    min-width: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.preview-container .delete {
    cursor: pointer;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
  //  border: 1px solid gainsboro;
  //  -webkit-border-radius: 2px;
  //  -moz-border-radius: 2px;
  //  border-radius: 2px;
 //   background-color: white;
}


.camera_container .progress {
    position: absolute;
    right: 3px;
    bottom: 0px;
    font-size: small;
}

#comment {
	line-height: 20px;
	font-family: Arial;
    font-size: 14px;
    width: 588px !important;
    max-height: 500px;
    height: 200px;
    padding: 5px;
    border: 1px solid gainsboro;
    resize: vertical;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.comment .info {
	float: right;
    width: 340px;
    color: #646464;
}

.photos {
    margin-top: 15px;
}

.photos .info {
    width: 950px;
    margin-left: 200px;
    color: #646464;
}

.prev {
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
    padding: 5px 0px 5px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #C8C8C8;
    color: white;
    width: 90px;
    cursor: pointer;
    margin-left: 165px;
}

.prev:hover {
    background-color: #909090;
}

.page-check {
    display: none;
}

.page-check .head-noty {
    margin-top: -15px;
    margin-bottom: 15px;
}

.created-photo-place {
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.created-photo-place img {
    max-width: 100%;
    max-height: 100%;
}

.page-check .next {
    text-align: center;
    margin-left: 0px;
    margin-top: 20px;
    padding: 6px 0px 6px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #28578B;
    color: white;
    width: 125px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.page-check .next:hover {
    background-color: #226aa1;
}

.rudder_container {
    margin-bottom: 15px;
}

.changed {
    background-color: #FFF9F9;
}

#check_comment {
    margin-left: 175px;
    display: block;
}

#phone {
    background-color: #EBEBE4;
}

#check_photos {
    margin-left: 175px;
}

input:hover {
     border: 1px solid #b8b8b8;
}

select:hover {
     border: 1px solid #b8b8b8;
	 cursor: pointer;
}

#comment:hover {
     border: 1px solid #b8b8b8;
}

input:focus {
     border: 1px solid #00aaff;
}

select:focus {
     border: 1px solid #00aaff;
	 outline: none;
}

#comment:focus {
     border: 1px solid #00aaff;
	 outline: none;
}