/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.08.2015, 14:39:45
    Author     : dimuska139
*/

.content .list {
    overflow: auto;
    width: 100%;
}


.content [class*='col-'] {
    float: left;
}


.content .col {
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.content .col {
    width: 206px;
    font-size: 10pt;
    margin-right: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.content .col-5 {
width: 216px;
height: 316px;
font-size: 10pt;
margin-bottom: 10px;
margin-right: 0px;
}

.content .col:hover {
    background-color: #f1f8fe;
}

.content .col .item .logo {
    width: 206px;
    height: 138px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.content .col .item .logo .photo {
    width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    right: -2px;
}

.content .col .item .info {
    /* margin-left: 3px; */
}

.content .col .item .info .mark-and-model {
    font-size: 11pt;
	font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
	margin-bottom: 10px;
}

.content .col .item .info .price {
    margin-bottom: 10px;
}

.content .col .item .info .price img{
    height: 10px;
}

.content .col .item .info .color-bodytype {
    position: relative;
	margin-top: 2px;
    margin-bottom: 2px;
	text-transform: lowercase;
}

.content .col .item .info .color-bodytype .color {
    float: left;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 4px;
}
.content .col .item .info .color-bodytype .white {
	height: 8px;
    width: 8px;
    border: 1px solid #f0f0f0;
}

.content .col .item .info .color-bodytype .type {
    margin-left: 15px;
}

.content .col .item .info .eng-type-dr-type {
    margin-bottom: 10px;
	margin-top: 2px;
	text-transform: lowercase;
}

.moderation-place .col .item .info .danger {
    color: red;
}

.moderation-place .col .item .info .warning {
    color: #FFD700;
}

.moderation-place .col .item .phone,
.ended-place .col .item .info  span,
.moderation-place .col .item .date-status {
    color: rgba(0,0,0,.5);
	text-transform: lowercase;
}

.item .edit {
    display: none;
    position: absolute;
    right: 38px;
    top: 8px;
    width: 25px;
    cursor: pointer;
	border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.item .avitoru_url_a {
    text-decoration: none;
    display: block;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    left: 8px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.item .autoru_url_a {
    text-decoration: none;
    display: block;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    left: 38px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.item .avitoru_url_a, .item .autoru_url_a {
    display: none;
    top: 8px;
}

.item .avitoru_url {
    width: 13px;
	padding: 6px;
    cursor: pointer;
}

.item .autoru_url {
    width: 17px;
	padding: 4px;
    cursor: pointer;
}

.item .update {
    display: none;
    position: absolute;
    right: 68px;
    top: 8px;
    width: 25px;
    cursor: pointer;
}

.item .delete {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 25px;
    cursor: pointer;
	border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.item .nophoto {
    width: 216px;
}

.list .item {
    position: relative;
}

.ad_number {
    display: none;
}

.fade {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 60px;
    height: 16px;
    right: 0;
    top: 0
}

.fade:after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
    content: ' ';
}

.content .col:hover .fade:after {
    background: linear-gradient(to right, rgba(241, 248, 254, 0), rgb(241, 248, 254)) !important;
}

.warning-panel {
    position: relative;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #95A5A5;
    margin-left: -25px;
    width: 1200px;
    overflow: auto;
}


.warning-panel img{
    position: absolute;
    height: 100px;
    left: 50px;
}

.warning-panel .title {
    color: white;
    position: absolute;
    left: 245px;
    top: 22px;
	font-size: 14px;
}

.warning-panel .text {
    color: white;
    position: absolute;
    left: 255px;
    top: 44px;
	font-size: 13px;
	line-height: 16px;
}

.moderation-place .title {
    font-size: 13px;
	color: #323232;
	margin-left: 5px;
	margin-bottom: 6px;
	font-weight: 600;
	text-transform: uppercase;
}

.item .info .phone {
    color: #28578b;
	margin-bottom: 2px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item .info .status {
    color: rgba(0,0,0,.5);
}