.changepassword_place {
    float: right;
    color: white;
    font-size: 12px;
	margin-top: 5px;
    margin-right: 5px;
	width: 445px;
}

.changepassword_place .question {
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 106px;
    border-radius: 2px;
	transition: all 0.2s;
	float: right;
}

.changepassword_place .question:hover {
    background-color: #0074d2;
}

.changepassword_place .input-place {
    display: none;
	float: right;
}

.changepassword_place .result {
	line-height: 20px;
    text-align: center;
}

.changepassword_place .input-place input {
    width: 100px;
    padding-left: 5px;
    border: none;
    height: 20px;
	border-radius: 2px 0px 0px 2px;
}

.changepassword_place .input-place .password-button {
	display: block;
	float: right;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 68px;
    border-radius: 0px 2px 2px 0px;
    background-color: #00a7f6;
	transition: all 0.2s;
}

.changepassword_place .input-place .password-button:hover {
	background-color: #0074d2;
}

.changepassword_place .input-place .info {
    margin-right: 5px;
}



body .top {
    width: 100%;
  /*  max-width: 1150px;
    min-width: 860px;*/
    height: 58px;
    background-color: #222222;
    position: relative;
  //  overflow: auto;
  /*  padding-left: 25px;
    padding-right: 25px;*/
}

body .top .inner {
    width: 1150px;
    margin: 0 auto;
}

body .top .inner .sitename {
    text-transform: uppercase;
    color: white;
    float: left;
    font-size: 16pt;
    margin-left: 75px;
    margin-top: 20px;
	display: none;
}

body .top .logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
	background-size: 112px auto;
    height: 58px;
    width: 112px;
	margin-left: 10px;
    position: absolute;
}

body .top .information, .main-part .top .contacts {
    position: absolute;
    color: white;
}

body .top .information {
    top: 22px;
    margin-left: 131px;
	font-size: 12px;
	display: none;
}

body .top .information .first-line {
    font-size: 15pt;
}

body .top .information .second-line {
    text-transform: uppercase;
}

body .top .contacts {
	top: 22px;
	float: right;
    margin-right: 10px;
    text-align: right;
	font-size: 12px;
	position: relative;
}

body .top .contacts .first-line {
    color: white;
}

.column-left {
    float: left;
    width: 455px;
    height: 100%;
    margin-right: 10px;
}

.panel {
    margin-bottom: 10px;
}

.column-left .auth-panel {
    position: relative;
	background: linear-gradient(to bottom right, #128bf6, #00a7f6);
    width: 435px;
    padding: 10px;
	border-radius: 2px;
}

.column-left .auth-panel .icon {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(../img/login.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 45px;
    width: 56px;
}

.column-left .auth-panel .bottom {
    position: absolute;
	height: 30px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    color: white;
	background: #128bf6;
	border-radius: 0 0 2px 2px;
}

.column-left .check-panel {
    position: relative;
	background: linear-gradient(to bottom right, #f7412c, #ec1562);
    height: 200px;
    width: 435px;
    padding: 10px;
	border-radius: 2px;
}

.column-left .check-panel .icon {
    position: absolute;
    top: 0px;
    background-image: url(../img/check.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 140px;
    width: 435px;
}

.column-left .check-panel .bottom {
    cursor: default;
    position: absolute;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    left: 0px;
    bottom: 10px;
    color: white;
    text-align: center;
	line-height: 16px;
}

.panel .bottom {
    cursor: default;
}

.column-left .notify-panel {
    position: relative;
	background: linear-gradient(to bottom right, #ff5608, #ff9900);
    height: 190px;
    width: 435px;
    padding: 10px;
    border-radius: 2px;
}

.column-left .notify-panel .icon {
    position: absolute;
    top: 0;
    background-image: url(../img/sms.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 140px;
    width: 435px;
}

.column-left .notify-panel .bottom {
    cursor: default;
    position: absolute;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    left: 0px;
    bottom: 10px;
    color: white;
    text-align: center;
	line-height: 16px;
}

.column-left .registration-panel {
    position: relative;
    background: linear-gradient(to bottom left, #38c83f, #248824);
    height: 225px;
    width: 435px;
    padding: 10px;
    border-radius: 2px;
	margin-bottom: 10px;
}

.column-left .registration-panel .icon {
	position: absolute;
    top: 0px;
    background-image: url(../img/reg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 140px;
    width: 435px;
}

.column-left .registration-panel .bottom {
    position: absolute;
    width: 435px;
    left: 10px;
    top: 135px;
    color: white;
    font-size: 13px;
	line-height: 16px;
	text-align: center;
}


.column-right {
    width: 685px;
    height: 100%;
    float: left;
}

.column-right .search-panel {
    position: relative;
    height: 415px;
    width: 665px;
	background-color: white;
	padding: 10px;
    background: linear-gradient(to bottom right, #607d8d, #9e9e9e);
	border-radius: 2px;
}

.column-right .search-panel .icon {
    top: 0px;
    right: 0px;
    background-image: url(../img/cars.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 80px;
    float: left;
}

.column-right .search-panel .bottom {
    cursor: default;
    font-size: 13px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
	line-height: 16px;
}

.column-right .search-panel .top {
    cursor: default;
    font-size: 13px;
	height: 35px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to bottom right, #607d8d, #9e9e9e);
	border-radius: 1px 1px 0 0;
}

.search-panel .action-price {
    cursor: default;
    color: white;
    position: absolute;
    line-height: 35px;
    right: 10px;
    font-size: 12px;
	top: 0;
}

.column-right .publish-panel {
    position: relative;
    width: 665px;
    padding: 10px;
	background: linear-gradient(to bottom right, #565e7b, #009788);
    border-radius: 2px;
}

.column-right .publish-panel .icon {
    top: 0px;
    right: 0px;
    background-image: url(../img/add.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 80px;
    float: left;
    background-position-y: -0.5px;
}

.column-right .publish-panel .bottom {
    cursor: default;
    font-size: 13px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 5px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
	line-height: 16px;
}

.publish-panel .action-price {
    color: white;
    position: absolute;
	top: 0;
    line-height: 35px;
    right: 10px;
    font-size: 12px;
}

.name {
    cursor: default;
    position: absolute;
    background-color: #fff500;
    color: black;
    text-transform: uppercase;
    top: 5px;
    left: 5px;
    padding: 6px 10px 5px 10px;
    font-size: 12px;
	border-radius: 2px;
}

.login-form {
    position: relative;
    width: 399px;
	padding-top: 45px;
    padding-bottom: 45px;
}


.login-form .error {
	position: relative;
    font-size: 12px;
	line-height: 35px;
	width: 325px;
	text-align: center;
    color: white;
	margin-bottom: -25px;
}

.login-form input, .username, .userphone {
    margin-right: 2px;
    height: 30px;
    border: none;
    padding-left: 10px;
    width: 150px;
	font-size: 14px;
	border-radius: 2px;
}

.login-button:hover {
    background: #0074d2;
}

.login-button {
    float: right;
    color: white;
    cursor: pointer;
    line-height: 30px;
    background-color: #1d8eea;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
	transition: all 0.2s;
	border-radius: 2px;
}

.register {
    color: white;
	top: 180px;
    position: relative;
    width: 419px;
	margin-left: 8px;
}

#register-button:hover {
    background: #34c834;
}

#register-success {
    display: none;
	font-size: 13px;
    padding-top: 2px;
	text-align: center;
}

#register-error {
    font-size: 12px;
    line-height: 30px;
}

#register-button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    line-height: 30px;
	width: 89px;
    background-color: #34bc34;
    text-align: center;
    font-size: 14px;
    transition: all 0.2s;
    border-radius: 2px;
}


.online-table {
	margin-top: 40px;
}

.online-table .online-header {
    width: 100%;
    overflow: hidden;
    font-style: oblique;
    color: #969696;
    margin-bottom: 3px;
    font-size: 11px;
    height: 16px;
    padding-top: 2px;
    background-color: #f5f5f5;
}

.online-table .online-header div {
    text-align: center;
    float: left;
    height: 100%;
}

.online-table .online-body div {
    text-align: left;
    float: left;
    width: 100%;
}

.brand-logo {
    max-width: 26px;
    max-height: 26px;
	padding-top: 2px;
    padding-left: 2px;
}


.online-table .year .pos {
    margin-top: 7px;
}

.online-table .online-body .pos {
    margin-top: 7px;
}

.online-table .online-header .time,
.online-table .online-body .time {
    width: 42px;
    text-align: center;
}
.online-table .online-body .time .pos {
    text-align: center;
}

.online-table .online-header .logo,
.online-table .online-body .logo  {
    width: 30px;
}

.online-table .online-header .car,
.online-table .online-body .car  {
	padding-left: 6px;
    width: 230px;
}

.online-table .online-header .car {
    text-align: left;
}
.online-table .online-header .price,
.online-table .online-body .price  {
    text-align: center;
    width: 80px;
}

.online-table .online-header .price {
    text-align: right;
}

.online-table .online-body .price .pos {
    float: right;
    font-weight: bold;
    text-align: right;
}

.online-table .online-header .diff,
.online-table .online-body .diff  {
    text-align: center;
    width: 60px;
}

.online-table .online-body .diff {
    width: 55px;
    padding-right: 5px;
}

.online-table .online-body .diff .pos {
    text-align: center;
}

.online-table .online-header .year,
.online-table .online-body .year  {
    width: 30px;
}

.online-table .online-body .year .pos {
    text-align: center;
}

.online-table .online-header .body,
.online-table .online-body .body  {
    width: 70px;
}

.online-table .online-body .body .pos {
    padding-left: 7px;
}

.online-table .online-header .region,
.online-table .online-body .region  {
    text-align: left;
    width: 110px;
	white-space: nowrap;
	overflow: hidden;
}

.vin-item {
    float: left;
    margin-top: 6px;
    height: 18px;
}

.rudder-item {
    float: left;
    margin-top: 7px;
	margin-right: 3px;
}

.wheel-item {
    float: left;
    height: 16px;
    margin-top: 7px;
	margin-right: 3px;
}

.fast-item {
    float: left;
    height: 16px;
    margin-top: 7px;
	margin-right: 3px;
}

.torg-item {
    width: 6px;
    padding-right: 3px;
}

.online-table .online-body .phonefind .pos {
    width: 100%;
    height: 100%;
    color: #969696;
    text-align: center;
}

.online-table .online-body .line .body-img {
    height: 20px;
    margin-top: -4px;
	margin-left: 4px;
}

.online-table .online-header .diff,
.online-table .online-header .phonefind {
    position: relative;
}

.online-table .online-header .diff .otkl-icon {
    width: 12px;
    margin-top: 1px;
}

.online-table .online-body .td {
    height: 100%;
    position: relative;
}

.online-table .online-body .car .mark-info {
    color: #28578b;
    font-weight: bold;
}

.online-table .online-body .car .pos {
    width: initial;
}

.online-table .online-body .car .mark-info .engine-info {
    color: initial;
    font-weight: initial;
}

.online-table .online-body .line {
    position: relative;
    cursor: default;
    color: initial;
    text-decoration: none;
    display: block;
    overflow: hidden;
    height: 30px;
	background-color: white;
}

.online-table .online-body .line:hover {
    background-color: #f5f5f5 !important;
}

.online-table .online-body .moderation {
    background-color: #fff500 !important;
}

.online-table .online-body .difference_price {
    background-color: #9bff2d !important;
}

.online-table .online-body .line .diff .green {
    color: green;
}

.online-table .online-body .line .diff .red {
    color: red;
}


.last {
    overflow: auto;
    margin-bottom: 60px;
    margin-top: 40px;
    width: 100%;
}

.last-text {
    font-size: smaller;
    margin-bottom: 5px;
	color: #969696;
	text-transform: uppercase;
}

.last .item {
    float: left;
    width: 163px;
    margin-right: 4px;
    margin-bottom: 15px;
}

.last .item:nth-child(4n){
    margin-right: 0px;
}

.last .item .photo {
    width: 100%;
    height: 127px;
    overflow: hidden;
    position: relative;
	border-radius: 2px;
}

.last .item .photo img {
    width: 100%;
    height: auto;
    max-height: 100%;
}