/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0; }

.main-part {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    width: 1200px;
    margin: 0 auto;
}

html, body {
    font-family: "Arial";
    font-size: 13px;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
	background: #f5f5f5;
}

.login-body .main-part .page .content {
    background-color: initial;
}

.login-body .footer_block {
    display: none;
}

.login-body .main-part {
    box-shadow: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0; }

fieldset, img {
    border: 0; }

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal; }

ol, ul {
    list-style: none; }

caption, th {
    text-align: left; }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal; }

q:before, q:after {
    content: ''; }

abbr, acronym {
    border: 0; }

.disabled {
    display: none; }

input {
    outline: none; }

.new_str {
    width: 100%;
    float: left;
    height: auto; }

/* menu */
.menu_block {
    width: 1200px;
    height: auto;
    float: left; }
.menu_block .menu {
    width: 100%;
    margin: 0 auto;
    height: auto; }
.menu_block .menu .top {
    height: 32px;
	font-size: 12px;
	color: white;
    background: #222222; }
      .menu_block .menu .top .information {
        margin-left: 25px;
        margin-top: 9px;
        float: left; }
.menu_block .menu .top .date {
    display: none;
    margin-right: 25px;
    float: right;
    margin-top: 9px; }
.menu_block .menu .top .help-phone {
    margin-right: 25px;
    float: right;
    margin-top: 9px;
}  


.menu_block .menu .bottom {
    height: 42px;
    background: #28578b; }
.menu_block .menu .bottom ul {
    width: auto;
    margin-left: 25px;
    float: left; }
.menu_block .menu .bottom ul li {
    cursor: pointer;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 42px;
    color: #ffffff;
    font-size: 14px;
	transition: all 0.2s; }
.menu_block .menu .bottom ul li:hover {
    background: #226aa1; }
.menu_block .menu .bottom ul .exit {
    float: right; }
.menu_block .menu .bottom ul .active {
    background: #226aa1 !important;
    font-weight: 500;
    cursor: default; }
.menu_block .menu .bottom .ul_2 {
    margin-right: 25px;
    float: right; }

/* footer */
.footer_block {
    width: 100%;
    height: auto;
    float: left; }
.footer_block .footer {
    width: 1200px;
    margin: 0 auto;
    height: auto; }
.footer_block .footer p {
 //   margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    color: #969696;
    font-size: 12px;
    line-height: 30px;
}

.page {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
}
.page .content {
    background: #fff;
    width: 1150px;
    margin: 0 auto;
    height: auto;
    padding: 10px 25px 25px 25px;
    overflow: hidden;
}
.page .content .phone_search {
    width: 100%;
    float: left;
    height: 50px;
    background: #fff; }
.page .content .dop_search {
    width: 100%;
    float: left;
    height: 100px;
    background: #e6e6e6; }
.page .content .dop_search ul {
    width: 440px;
    float: left;
    margin-left: 26px;
    margin-top: 10px; }
.page .content .dop_search ul li {
    cursor: pointer;
    float: left;
    margin-right: 30px;
    color: #969696;
    font-size: 12px; }
.page .content .dop_search ul li:hover {
    color: #28588b; }

.page .content .podpis {
    margin-top: 16px;
    margin-left: 10px;
    float: left;
    color: #323232;
    font-size: 13px; }
.page .content .input {
    float: left;
    height: 24px;
    width: 125px;
    padding-left: 5px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    font-size: 10.5pt; }
.page .content .input_1 {
    margin-left: 10px;
    margin-top: 11px; }
.page .content .input_2 {
    margin-top: 15px; }
.page .content .one {
    margin-left: 25px; }
.page .content .setting {
    float: left; }
.page .content .setting .p_1 {
    margin-top: 9px; }
.page .content .setting p {
    cursor: pointer;
    color: #969696;
    font-size: 12px; }
.page .content .inform_text {
    float: left;
    margin-top: 10px;
	line-height: 16px;
    font-size: 13px; }
.page .content .form {
    width: 100%;
    float: left;
    height: 42px;
    margin-top: 10px;
    background: #fff8b9;
    margin-left: -25px;
    width: 1200px; }
.page .content .form .input_width {
    width: 175px; }
.page .content .form input {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 25px; }
.page .content .form .podpis_2 {
    margin-top: 13px;
    float: left;
    color: #646464;
    font-size: 14px; }
.page .content .form .button_2 {
    width: 92px;
    height: 42px;
    float: left;
    cursor: default;
    background: #C8C8C8;
    text-align: center; }
.page .content .form .button_2 p {
    margin-top: 13px;
    color: white;
    font-size: 14px; }
.page .content .pr {
    width: 90%;
    float: left;
    margin-left: 25px; }
.page .content .pr li {
    float: left;
    color: black;
    font-size: 13px; }
.page .content .pr .li_1 {
    width: 180px; }
.page .content .pr .li_2 {
    width: 145px; }
.page .content .pr .li_3 {
    width: 140px; }
.page .content .pr .color {
    color: #969696; }
.page .content .dilleri {
    float: left;
    margin-top: 10px;
    color: #969696;
    font-size: 11px; }



.development-panel {
    position: relative;
    height: 100px;
    background-color: #95A5A5;
    margin-left: -25px;
    width: 1200px;
}

.development-panel img{
    position: absolute;
    height: 100px;
    left: 50px;
}

.development-panel .title {
    color: white;
    position: absolute;
    left: 245px;
    top: 22px;
    font-size: 14px;
}

.development-panel .text {
    color: white;
    position: absolute;
    left: 255px;
    top: 44px;
    font-size: 13px;
    line-height: 16px;
}

.page .content .form input:hover {
    border: 1px solid #b8b8b8;
}

.page .content .form input:focus {
    border: 1px solid #00aaff;
}

// Меню

.add-menu .add-button-link .unactive {
    cursor: default;
    background: #C8C8C8;
    color: white;
    width: 156px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    transition: all 0.2s;
    text-align: center;
}

.add-menu .add-button-link .unactive:hover {
    background: #C8C8C8;
    color: white;
}

.add-menu {
	overflow: auto;
    margin-bottom: 10px;
}

.add-menu .add-button-link {
    overflow: auto;
    display: block;
    float: left;
	margin-right: 20px;
}

.add-menu .button {
    background: #5b0;
    float: left;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.2s;
}

.add-menu .button:hover {
    background: #6c1;
}
.add-menu .button p {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    color: #ffffff;
}

.add-menu .active-place .title .text {
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.add-menu .moderation-place .title .text {
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.add-menu .ended-place .title .text {
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.add-menu .active-place .title .amount {
    color: #A6A5A5;
    font-weight: bold;
}

.add-menu .moderation-place .title .amount {
    color: #A6A5A5;
    font-weight: bold;
}

.add-menu .ended-place .title .amount {
    color: #A6A5A5;
    font-weight: bold;
}

.tab-button {
    float: left;
    margin-right: 20px;
	line-height: 30px;
    position: relative;
}

.tab-button-active {
    cursor: default !important;
}

.tab-button-active .text a,
.tab-button-active .text span{
    cursor: default !important;
    color: #ff6933 !important;
    border-bottom: 1px dotted #ff6933;
}

.tab-button .text a,
.tab-button .text span{
    text-decoration: none;
    color: #28578B;
	transition: all 0.2s;
}

.tab-button .text a:hover,
.tab-button .text span:hover {
    color: #ff6933;
}

.tab-button .text {
    float: left;
}

.tab-button .amount {
    float: left;
    margin-left: 5px;
    color: #969696;
}

.moderation-place {
  //  display: none;
}

.no-active {
    display: block;
    overflow: auto;
    position: absolute;
    top: 139px;
    font-size: 20px;
}