table {
    width: 100%;
}


/*.fade {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    width: 60px;
    height: 38px;
    right: 0px;
}


.fade:after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    
    content: ' ';
}

.difference_price .name .fade:after {
    background: linear-gradient(to right, #00f500, #00f500);
}*/

#state-filter, #kpp-filter, #engine-filter {
    color: #969696;
    height: 28px;
    width: 190px;
    background-color: white;
    border: none;
	border-radius: 2px;
    border: 1px solid gainsboro;
}

#state-filter:hover, #kpp-filter:hover, #engine-filter:hover {
	border: 1px solid #b8b8b8;
	cursor: pointer;
}

#state-filter:focus, #kpp-filter:focus, #engine-filter:focus {
	border: 1px solid #00aaff;
	outline: none;
}

#phone-amount-filter {
    width: 30px;
	height: 26px;
	margin-left: 2px;
    margin-right: 5px;
	text-align: center;
	border: 1px solid gainsboro;
	border-radius: 2px;
}

#phone-amount-filter:hover {
	border: 1px solid #b8b8b8;
}

#phone-amount-filter:focus {
	border: 1px solid #00aaff;
}

#engine-filter {
    width: 205px;
}

.vin-item {
    float: left;
    margin-top: 9px;
    margin-left: 5px;
    height: 18px;
}

.rudder-item {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.wheel-item {
    float: left;
    height: 16px;
    margin-top: 10px;
    margin-left: 5px;
}

.fast-item {
    float: left;
    height: 16px;
    margin-top: 10px;
    margin-left: 5px;
}

.torg-item {
    width: 8px;
    padding-right: 5px;
}

.dealer-item {
    width: 20px;
    margin-top: 6px;
    margin-left: 2px;
    padding-right: 5px;
}

.result_list_header .diff .otkl-icon {
    position: absolute;
    width: 12px;
    left: 35px;
    top: 1px;
}

#result_list .line .name .pos {
    position: relative !important;
    float: left;
}

.minutestooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 20px;
    right: 45px;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 0.6;
    border-radius: 5px; 
}

.tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 20px;
    left: 45px;
    background-color: #000;
    padding: 5px 10px 5px 10px;
    color: white;
    opacity: 0.6;
    border-radius: 5px; 
}

#result_list .new {
//    background-color: #edf1f5 !important;
}

#result_list .moderation {
    background-color: #fff500 !important;
}

#result_list .difference_price {
    background-color: #9bff2d !important;
}

#result_list .line {
    position: relative;
    cursor: pointer;
    color: initial;
    text-decoration: none;
    display: block;
    overflow: hidden;
 //   margin-bottom: -3px;
}

#result_list .line .td {
    position: relative;
}

#result_list .line .td .pos {
    position: absolute;
}

#result_list .line .name .pos,
#result_list .line .name_2 .pos,
#result_list .line .price .pos,
#result_list .line .year .pos,
#result_list .line .run .pos,
#result_list .line .engine .pos,
#result_list .line .engine_eng .pos,
#result_list .line .diff .pos,
#result_list .line .region .pos,
#result_list .line .phone_find .pos{
    top: 10px;
}

#result_list .line .name .pos img {
    
}

#result_list .line .name .pos nobr {
    float: left;
}

#result_list .line .diff .red {
    color: red;
}

#result_list .line .diff .green {
    color: green;
}

#result_list .line .region .pos {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

#result_list .line .name_2 .pos,
#result_list .line .year .pos,
#result_list .line .engine .pos,
#result_list .line .engine_eng .pos,
#result_list .line .diff .pos,
#result_list .line .body .pos
{
    width: 100%;
    text-align: center;
}

#result_list .line .phone_find .pos
{
    width: 100%;
    height: 100%;
	color: #969696;
    text-align: center;
}

#result_list .line .engine_eng .pos {
    top: 4px;
}

#result_list .line .price .pos,
#result_list .line .run .pos{
    width: 95%;
    text-align: right;
}

#result_list .line .time .pos {
    top: 10px;
    left: 10px;
}

#result_list .line .color .pos {
    top: 10px;
    left: 5px;
}

#result_list .line .body .pos {
    top: 5px;
}

#result_list .line .photos {
    border-right: none;
}

#result_list .line .photos .pos {
    top: 7px;
    font-size: 11px;
	color: #00639d;
}


#result_list .line .name .mark-info{
    color: #28578b;
    font-weight: bold;
    padding-left: 10px;
}

#result_list .line .name .mark-info .engine-info {
    color: initial;
    font-weight: initial;
}

#result_list .line:hover {
    background-color: #f0f0f0 !important;
}

#result_list .line .body-img {
    height: 22px;
}

#result_list .line .price {
    font-weight: bold;
}
#result_list .line .color-preview {
    width: 16px;
    height: 16px;
}

#result_list .line .white .color-preview {
    width: 14px;
    height: 14px;
    border: 1px solid #c8c8c8;
}

#result_list .line .ph {
    width: 20px;
}


/*#result_list .even {
    background-color: white;
}

#result_list .odd {
    background-color: #eaf6ff;
}
*/
/*#result_list .line:nth-child(2n+1){
   background-color: white;
}


#result_list .line:nth-child(2n){
   background-color: #eaf6ff;
}*/

.monitor .line {
    overflow: visible;
    min-height: 36px;
    overflow: auto;
}

.monitor .line .time {
//    border-left: 1px solid #cfcfcf !important;
}

.monitor .line .td, .history-table .line .td {
    height: 36px;
    float: left;
  /*  padding-left: 1%;
    padding-right: 1%;*/
    border: none;
//    border-top: 1px solid #cfcfcf;
 //   border-right: 1px solid #cfcfcf;
}

/*.monitor .line .photos {
    border-left: 1px solid #cfcfcf !important;
}*/
/* search */

.byphonesearch .search {
    min-height: initial !important;
}

.search_block {
  width: 100%;
  min-width: 860px;
  height: auto;
  float: left; }
  .search_block .search {
/*    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;*/
    min-height: 800px;
    background: #fff;
    width: 100%;
    max-width: 1200px;
    min-width: 860px;
    margin: 0 auto;
    height: auto; }
    .search_block .search .phone_search {
      width: 100%;
      float: left;
      height: 50px;
      background: #fff; }
    .search_block .search .dop_search {
      width: 100%;
      float: left;
      height: 100px;
      background: #e6e6e6; }
      .search_block .search .dop_search ul {
        width: 440px;
        float: left;
        margin-left: 26px;
        margin-top: 10px; }
        .search_block .search .dop_search ul li {
          cursor: pointer;
          float: left;
          margin-right: 30px;
          color: #969696;
          font-size: 12px; }
		.search_block .search .dop_search ul li:hover {
		  color: #28588b; }
    .search_block .search .button {
      background: #e3e3e3;
      height: 30px;
      float: left;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 5px; }
	.search_block .search .button:hover {
	  background: #28588b; }
      .search_block .search .button p {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 30px;
        color: #28588b;
        font-size: 13px; }
	   .search_block .search .button p:hover {
		color: #ffffff; }
    .search_block .search .bt_1 {
      margin-left: 25px; }
    .search_block .search .podpis {
      margin-top: 16px;
      margin-left: 10px;
      float: left;
      color: #323232;
      font-size: 13px; }
    .search_block .search .input {
      float: left;
      height: 25px;
      width: 105px;
      padding-left: 7px;
      margin-right: 10px;
      border: 1px solid #c8c8c8;
      background: #fff;
      color: #969696;
      font-size: 11px; }
    .search_block .search .input_1 {
      margin-left: 10px;
      margin-top: 11px; }
    .search_block .search .input_2 {
      margin-top: 15px; }
    .search_block .search .one {
      margin-left: 25px; }
    .search_block .search .setting {
      float: left; }
      .search_block .search .setting .p_1 {
        margin-top: 9px; }
      .search_block .search .setting p {
        cursor: pointer;
        color: #969696;
        font-size: 12px; }
    .search_block .search .inform_text {
      margin-left: 25px;
      float: left;
      margin-top: 10px;
      color: #323232;
      font-size: 13px; }
    .search_block .search .form {
      width: 100%;
      float: left;
      height: 40px;
      margin-top: 10px;
      background: #fff8b9; }
      .search_block .search .form .input_width {
        width: 135px; }
      .search_block .search .form input {
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 20px; }
      .search_block .search .form .podpis_2 {
        margin-top: 12px;
        float: left;
        color: #323232;
        font-size: 12px; }
      .search_block .search .form .button_2 {
        width: 100px;
        height: 40px;
        float: left;
        cursor: pointer;
        background: #28578b;
        text-align: center; }
        .search_block .search .form .button_2 p {
          margin-top: 11px;
          color: white;
          font-size: 13px; }
        .search_block .search .form .button_2:hover {
          background: #226aa1; }
    .search_block .search .pr {
      width: 90%;
      float: left;
      margin-left: 25px; }
      .search_block .search .pr li {
        float: left;
        color: black;
        font-size: 13px; }
      .search_block .search .pr .li_1 {
        width: 180px; }
      .search_block .search .pr .li_2 {
        width: 145px; }
      .search_block .search .pr .li_3 {
        width: 140px; }
      .search_block .search .pr .color {
        color: #969696; }
    .search_block .search .dilleri {
      float: left;
      margin-left: 25px;
      margin-top: 15px;
      color: #969696;
      font-size: 11px; }

    
.search_block .search .filters {
    height: 130px;
    position: relative;
}

#result_list {
    width: 1150px;
}

#price_from, #run_from {
    width: 110px;
    height: 26px;
	padding-left: 5px;
    border-radius: 2px;
	border: 1px solid gainsboro;
	margin-right: 1px;
}

#price_from:hover, #run_from:hover {
	border: 1px solid #b8b8b8;
}

#price_from:focus, #run_from:focus {
	border: 1px solid #00aaff;
}

#price_to, #run_to {
    width: 110px;
	height: 26px;
	padding-left: 5px;
	border: 1px;
	border-radius: 2px;
	border: 1px solid gainsboro;
}

#price_to:hover, #run_to:hover {
	border: 1px solid #b8b8b8;
}

#price_to:focus, #run_to:focus {
	border: 1px solid #00aaff;
}

#volume_from {
    color: #969696;
    height: 28px;
    width: 100px;
    background-color: white;
	margin-right: 5px;
    float: left;
    border-radius: 2px;
	border: 1px solid gainsboro;
}

#volume_from:hover, #run_to:hover {
	border: 1px solid #b8b8b8;
    cursor: pointer;
}

#volume_from:focus, #run_to:focus {
	border: 1px solid #00aaff;
	outline: none;
}

#volume_to {
    color: #969696;
    height: 28px;
    width: 100px;
    background-color: white;
    border-radius: 2px;
	border: 1px solid gainsboro;
}

#volume_to:hover, #run_to:hover {
	border: 1px solid #b8b8b8;
    cursor: pointer;
}

#volume_to:focus, #run_to:focus {
	border: 1px solid #00aaff;
	outline: none;
}

.filters .filter-line {
    margin-bottom: 5px;
    position: relative;
}

.filters .column-1 {
    float: left;
    margin-right: 10px;
}

.filters .column-2 {
    float: left;
    margin-right: 10px;
}

.filters .column-3 {
    float: left;
    margin-right: 10px;
}

.filters .column-4 {
    float: left;
    margin-right: 10px;
}
.filters .column-5 {
    float: left;
}

.filter-line button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.ms-parent {
    height: 26px;
}

#save {
    cursor: pointer;
    display: block;
    background-color: #28578B;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
}

#clear {
    cursor: pointer;
    background-color: #AFAFAF;
    color: white;
    padding: 8px 22px 8px 21px;
    float: right;
    margin-right: 27px;
    margin-top: 5px;
}

#save:hover {
    background-color: #226aa1;
}

#clear:hover {
    background-color: #2F2F2F;
}

#security {
    position: absolute;
    top: 4px;
    left: 0px;
}

.security-place {
    padding-left: 17px;
}

.metallic {
    position: absolute;
    top: 8px;
    left: 8px;
  //  text-shadow: 1px 1px 1px silver,
   //            -1px 1px 1px silver;
    color: white;
//    transition: all .5s;
}


.metallic-white {
    color: black !important;
}

.brand-logo {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
}

#result_list .logo {
    text-align: center;
    line-height: 34px;
}

.badcondition img {
    position: absolute;
    top: 8px;
    left: 25px;
}

#result_list .phone-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 16px;
    left: 3px;
    top: 10px;
}

#result_list .phone {
    overflow: hidden;
}

#result_list .phone-text {
    float: left;
    height: 16px;
    margin-top: 10px;
    margin-left: 5px;
	color: red;
}


.warning-panel {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    background-color: #E84A3E;
    margin-left: -25px;
    width: 1200px;
}

.warning-panel img{
    position: absolute;
    height: 100px;
    left: 50px;
}

.warning-panel .title {
    color: white;
    position: absolute;
    left: 245px;
    top: 22px;
    font-size: 14px;
}

.warning-panel .text {
    color: white;
    position: absolute;
    left: 255px;
    top: 44px;
    font-size: 13px;
    line-height: 16px;
}

.monitor-clicks .result_list_header {
    display: visible !important;
}

.result_list_header {
    display: none;
    padding-top: 3px;
}

#clicks-header {
    display: visible;
}


.result_list_header,.result_list_header_no_photos {
    width: 100%;
    overflow: hidden;
    font-style: oblique;
    color: #969696;
    margin-bottom: 3px;
    font-size: 11px;
    height: 16px;
    background-color: #f5f5f5;
}

.result_list_header div, .result_list_header_no_photos div {
    float: left;
}

	
.result_list_header_no_photos .time {
width: 50px !important;
text-align: center !important;
}

.result_list_header .time {
    width: 122px;
    text-align: center;
}

.result_list_header_no_photos .car {
    width: 380px !important;
    text-align: left !important;
    padding-left: 50px !important;
}

.result_list_header .car {
    width: 380px;
    text-align: left;
    padding-left: 10px;
}

.result_list_header .price {
    width: 75px;
    text-align: right;
}

.result_list_header .diff {
    width: 73px;
    text-align: center;
    height: 10px;
    position: relative;
}

.result_list_header .year {
    width: 50px;
    padding-right: 12px;
    text-align: center;
}

.result_list_header .run {
    width: 65px;
    text-align: right;
}

.result_list_header .body {
    width: 75px;
    text-align: center;
}

.result_list_header .color {
    width: 40px;
    text-align: left;
}

.result_list_header .region {
    width: 220px;
    text-align: left;
}

.result_list_header .photo {
    text-align: left;
}

.add-menu .ads_amount {
    margin-left: 20px;
}

.add-menu {
    overflow: auto;
    margin-bottom: 10px;
}

.add-menu .phone-search .find {
    cursor: pointer;
    color: #28578B;
    float: right;
    border: none;
    background-color: initial;
    display: block;
    width: 40px;
	line-height: 30px;
	transition: all 0.2s;
}
.add-menu .phone-search .find:hover {
    color: #ff6933 !important;
}

.add-menu .phone-search .nohover:hover {
    color: rgb(150, 150, 150) !important;
    border-bottom: none;
}

.add-menu .phone-search {
    float: left;
    position: relative;
	line-height: 30px;
}

.add-menu .phone-search .label {
    color: #969696;
    margin-right: 2px;
}

.add-menu .phone-search .phone-number {
    padding-left: 5px;
}

.add-menu .phone-search input {
    width: 120px;
	height: 26px;
    margin-right: 4px;
	border: 1px solid gainsboro;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.add-menu .phone-search .phone-number:hover {
	border: 1px solid #b8b8b8;
}

.add-menu .phone-search .phone-number:focus {
	border: 1px solid #00aaff;
}

.additional-filters {
	margin-left: 12px;
    width: 100%;
    overflow: hidden;
}

.table-controls {
    display: none;
    position: relative;
    margin-top: 10px;
	margin-bottom: 10px;
   // overflow: auto;
    width: 1144px;
    height: 40px;
    border: 3px solid #ffe5b4;
    background-color: #fffbf4;
}

.table-controls .h-f {
    float: left;
    position: relative;
    margin-left: 12px;
}

#highlight-moderation,#highlight-cheap,#show-photos,#sounds  {
    position: absolute;
    top: 50%;
}

.source-filter-place .ms-parent {
    position: absolute;
    top: 7px;
	box-shadow: 0 0 5px #ffe5b4;
}

.table-controls .h-f .label {
    margin-left: 20px;
	margin-right: 12px;
    margin-top: 10px;
    display: block;
}

.additional-filters .phone-amount input {
    height: 8px;
    width: 15px;
}

.byphonesearch_list_header {
    overflow: auto;
    width: 1150px;
    font-style: oblique;
    color: #969696;
    margin-bottom: 3px;
    font-size: 11px;
    height: 18px;
    background-color: #f5f5f5;
}

.byphonesearch_list_header div {
    float: left;
}

.byphonesearch_list_header .time {
    padding-left: 5px;
    width: 125px;
}

.byphonesearch_list_header .car {
    width: 270px;
}

.byphonesearch_list_header .price {
    width: 60px;
    text-align: right;
    margin-right: 30px;
}

.byphonesearch_list_header .year {
    width: 80px;
    margin-left: 20px;
    padding-left: 5px;
}

.byphonesearch_list_header .run {
    width: 60px;
    text-align: right
}

.byphonesearch_list_header .body {
    margin-left: 15px;
    width: 180px;
}

.byphonesearch_list_body .line:hover {
    background-color: #bed9fb !important;
}

.byphonesearch_list_body {
    width: 1150px;
}

.byphonesearch_list_body .line {
    overflow: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 5px;
}

.byphonesearch_list_body .line div {
    float: left;
}

.byphonesearch_list_body .line .time {
    padding-left: 5px;
    width: 125px;
}

.byphonesearch_list_body .line .name-engine {
    width: 270px;
}

.byphonesearch_list_body .line .name-engine .name{
    color: #28578b;
    font-weight: bold;
}

.byphonesearch_list_body .line .price {
    width: 60px;
    text-align: right;
    margin-right: 30px;
	font-weight: bold;
}

.byphonesearch_list_body .line .year {
    width: 80px;
    margin-left: 20px
}

.byphonesearch_list_body .line .run {
    width: 60px;
    text-align: right
}


.byphonesearch_list_body .line .body {
    margin-left: 20px;
    width: 180px;
    height: 18px;
}

.byphonesearch_list_body .line .region {
    width: 200px;
}

.byphonesearch_list_body .line .previews {
    padding-top: 10px;
}

.byphonesearch_list_body .line .previews .photo-preview-container {
    display: block;
    float: left;
	padding-right: 1px;
    padding-left: 1px;
    width: 113px;
    height: 77px;
    overflow: hidden;
}

.byphonesearch_list_body .line .previews .photo-preview-container .photo-preview {
    width: 100%;
    height: 100%;
}

.add-menu .error {
    color: red;
    margin-left: 10px;
    display: none;
}

#checkphone-ajax-loader {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
}

.byphonesearch-table .ads_amount {
    padding-bottom: 10px;
    display: block;
}


.filter-state {
    float: right;
    color: #969696;
    cursor: pointer;
	line-height: 30px;
	transition: all 0.2s;
    cursor: pointer;
}

.filter-state:hover {
    color: #28578b;
}

.result_list_header .phonefind {
    float: left;
    position: relative;
}

.result_list_header_no_photos .phonefind .phonefind-icon {
    position: absolute !important;
    width: 12px !important;
    left: 15px !important;
    top: 1px !important;
}

.result_list_header .phonefind .phonefind-icon {
    position: absolute;
    width: 12px;
    left: 9px;
    top: 1px;
}

#table-loading-indicator {
    position: relative;
    top: 100px;
    left: 50%;
    margin: -38px 0 0 -38px;
}

#orderby {
    color: #969696;
    height: 28px;
    width: 130px;
    margin-right: 10px;
    background-color: white;
    border: none;
	border: 1px solid gainsboro;
	border-radius: 2px;
}

#orderby:hover {
    border: 1px solid #b8b8b8;
    cursor: pointer;
}

#orderby:focus {
    border: 1px solid #00aaff;
    outline: none;
}

#volume {
    height: 26px;
    width: 170px;
    background-color: white;
    border: none;
    padding-left: 4px;
}

#year_from {
    color: #969696;
    height: 28px;
    width: 94px;
    background-color: white;
    border: none;
    float: left;
    margin-right: 5px;
	border: 1px solid gainsboro;
	border-radius: 2px;

}

#year_from:hover {
	border: 1px solid #b8b8b8;
	cursor: pointer;
}

#year_from:focus {
	border: 1px solid #00aaff;
	outline: none;
}

#year_to {
    color: #969696;
    height: 28px;
    width: 94px;
    background-color: white;
    border: none;
	border: 1px solid gainsboro;
	border-radius: 2px;
}

#year_to:hover {
	border: 1px solid #b8b8b8;
	cursor: pointer;
}

#year_to:focus {
	border: 1px solid #00aaff;
	outline: none;
}

.phone_find_hover {
    background-color: #ebebeb !important;
}

.monitor {
    position: relative;
}

.legend {
    display: none;
	margin-top: 10px;
}

.legend .legend-line {
    overflow: auto;
}

.legend .legend-line .value {
    float: left;
    margin-right: 3px;
}

.legend .legend-line .value img {
    height: 14px;
	vertical-align: middle;
}


.phone_find .pos {
    margin-top: -10px;
}

.history-table .line .phone_find .pos {
    margin-top: 0px;
}

.phone_find .pos form {
    height: 100%;
    width: 100%;
}

.phone_find .pos form .phonefindsubmit {
    border: none;
    background-color: inherit;
    height: 100%;
    width: 100%;
}

.phonefindsubmitimg {
    width: 16px;
    height: 16px;
    margin-top: 10px;
    background: transparent url('/resources/img/dealer.png') no-repeat center top;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.history-table .phonefindsubmitimg {
    margin-top: 0px;
    margin-left: 4px;
}

.main-photo {
    overflow: hidden;
}

.main-photo .pos img {
    width: 122px;
    height: 92px;
}

.show-photos-time {
    position: absolute;
    top: 30px;
    left: 9px;
}

.show-photos-time .hi {
    font-size: 12px;
    color: black;
}

.show-photos-time .dm {
    font-size: 10px;
    color: #969696;
    padding-left: 2px;
}

.show-photos-time .phone-text {
    float: initial !important;
}

.show-photos-items {
    position: absolute;
    top: 40px;
    left: 5px;
}
.ads .show-photos-items {
    top: 40px !important;
}
body > div.main-part > div.page > div > div > div.search > div.ads-table > div.filters > div > div.column.column-5 > div:nth-child(2) > div.ms-parent{
    margin-top: 2px;
}

body > div.main-part > div.page > div > div > div.search > div.ads-table > div.filters > div > div.phone-amount {
    position: absolute;
	width: 1130px;
    top: 71px;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: 2px;
}

.clear-filters {
    float: right;
    color: #969696;
    cursor: pointer;
    right: 125px;
	margin-right: 10px;
    line-height: 28px;
	transition: all 0.2s;
}

.accept-filters {
	float: right;
    color: white;
    cursor: pointer;
	background: #0363cd;
	line-height: 28px;
	padding-left: 15px;
    padding-right: 15px;
	border-radius: 2px;
	text-align: center;
	transition: all 0.2s;
}

.clear-filters:hover {
    color: red;
}

.accept-filters:hover {
    background: #2582eb;
}

.more-button {
    display: none;
    background: #0363cd;
    line-height: 28px;
    float: left;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 45%;
	padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
	transition: all 0.2s;
}

.more-button:hover {
    background: #2582eb;
}

.more-button .text {
    color: #ffffff;
}


#more-loading-indicator {
    display: none;
    margin-left: 47.5%;
    margin-right: 47.5%;
}


.ads .line .time .pos {
    top: 3px !important;
}

.history-table .line .time .pos {
    top: 3px !important;
}

#date-from {
    width: 123px;
    height: 16px;
    padding-left: 5px;
	border: 1px solid gainsboro;
    height: 26px;
	border-radius: 2px;
	margin-right: 1px;
}

#date-to {
    width: 123px;
    height: 16px;
    padding-left: 5px;
	border: 1px solid gainsboro;
    height: 26px;
	border-radius: 2px;
	margin-right: 1px;
}

#date-from:hover, #date-to:hover {
    border: 1px solid #b8b8b8;
}

#date-from:focus, #date-to:focus {
    border: 1px solid #00aaff;
}

#result_list .line .time .pos .hi {
    font-size: 12px;
    color: black;
}

#result_list .line .time .pos .dm {
    font-size: 10px;
    color: #969696;
    padding-left: 2px;
}

.ads .odd, .history-table .odd{
    background-color: #f5f5f5;
}

#more-loading-indicator svg circle{
    stroke: #66ab0b;
}

.ads .show-photos-time .dm {
    font-size: 12px;
}

.monitor-clicks .result_list_header_no_photos {
    display: visible;
}

.phone-amount .ms-parent {
    float: left;
    margin-right: 20px;
}

.month-filters {
    height: 165px !important;
}

.month-filters .clear-filters {
    margin-top: 11px !important;
}

.month-filters .accept-filters {
    margin-top: 10px !important;
}