.settings {
    margin-top: 5px;
}

.settings .form-line {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.settings .site-settings .form-line {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.settings .profile .form-line label,
.settings .change-password .form-line label {
    width: 275px;
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    color: #646464;
	padding-top: 6px
}

.settings .form-line label {
    width: 275px;
    display: block;
    float: left;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    color: #646464;
	padding-top: 6px;
}

.settings .title {
    color: #28578B;
	font-size: 15px;
    margin-bottom: 15px;
	padding-bottom: 2px;
	border-bottom: 1px solid #DAE1E8;
}

.settings .profile {
    margin-bottom: 25px;
}

.settings-select {
    height: 28px;
    font-size: 14px;
    width: 60px;
    border: 1px solid gainsboro;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding-left: 1px;
    float: left;
    margin-right: -12px;
}

.settings-select:hover {
    border: 1px solid #b8b8b8;
    cursor: pointer;
}

.settings-select:focus {
    border: 1px solid #00aaff;
    outline: none;
}

.settings .site-settings {
    margin-bottom: 25px;
}

.settings input[type="text"], .settings input[type="password"] {
    width: 130px;
	border: 1px solid gainsboro;
    height: 26px;
	padding-left: 5px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.settings input[type="text"]:hover, .settings input[type="password"]:hover {
	border: 1px solid #b8b8b8;
}

.settings input[type="text"]:focus, .settings input[type="password"]:focus {
    border: 1px solid #00aaff;
}

.settings input[type="checkbox"] {
    top: 8px;
    position: absolute;
	cursor: pointer;
}

.settings .save {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #0363cd;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-align: center;
    margin-left: 285px;
    float: left;
	line-height: 28px;
    transition: all 0.2s;
}

.settings .save:hover {
    background-color: #2582eb;
}

.settings .saved {
    display: none;
    color: #969696;
    padding-top: 6px;
    padding-left: 10px;
    float: left;
}

.settings .error {
    color: red;
}

.success-text {
    display: none;
	float: left;
    color: #969696;
    margin-left: 22px;
	margin-top: 7px;
}