/* 
    Created on : 27.09.2015, 18:50:02
    Author     : dimuska139
*/

.sms_block {
    position: relative;
    padding: 10px;
    border: 2px solid #ACE2FF;
    background-color: #F7FCFF;
    margin-top: 15px;
    border-radius: 3px;
    width: 500px;
    height: 340px;
}

.sms_block .form-line {
    position: relative;
    padding-bottom:3px;
    height: 27px;
}

.sms_block .form-line input {
    height: 25px;
    border: 1px solid gainsboro;
}

.sms_block label {
    display: block;
    float: left;
    width: 100px;
    padding-top: 4px;
    padding-left: 10px;
}

.sms_block .phone_find label {
    width: 190px !important;
}

.sms_block .save {
    color: #28578B;
    position: absolute;
    cursor: pointer;
    right: 25px;
    bottom: 20px;
}